<template>
  <nav class="navbar navbar-top border-bottom navbar-expand navbar-secondary navbar-expand-lg bg-">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <slot name="links">
          <navbar-item v-for="(link, index) in navbarLinks" :key="link.name + index" :link="link">
            <navbar-item v-for="(subLink, index) in link.children" :key="subLink.name + index" :link="subLink">
            </navbar-item>
          </navbar-item>
        </slot>
      </ul>
    </div>
  </nav>
</template>
<script>
export default {
  name: 'navbar',
  props: {
    
    navbarLinks: {
      type: Array,
      default: () => [],
      description:
        "List of navbar links as an array if you don't want to use components for these."
    },
  },
};
</script>
