<template>

  <div class="container-fluid mt-5">
 
    <div class="row">
      <div class="col-12">
        <h1 class="card-preheader mb-4">Account Settings</h1>
        <!--{{ this.authenticate() }}-->
      </div>
    </div>
    <div class="row">
      
      <!-- USER SETTINGS -->
      <div class="col-12 col-lg-6">
        <div class="row">
          <!-- <div class="col-12">
            <h1 class="card-preheader mb-3">User Settings</h1>
          </div> -->
          <div class="col-12">
            <user-settings></user-settings>
          </div>
        </div>
      </div>

      <!-- CHANGE PASSWORD -->
      <div class="col-12 col-lg-6">
        <div class="row">
          <!-- <div class="col-12">
            <h1 class="card-preheader mb-3">Change Password</h1>
          </div> -->
          <div class="col-12">
            <change-password></change-password>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-12">
        <h1 class="card-preheader mb-4">My Addresses</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <billing-address></billing-address>
      </div>
      <div class="col-lg-6">
        <shipping-address></shipping-address>
      </div>
    </div>
  </div>
</template>
<script>
  import BillingAddress from '~/components/pages/settings/BillingAddress.vue';
  import ShippingAddress from '~/components/pages/settings/ShippingAddress.vue';
  import UserSettings from '~/components/pages/settings/UserSettings.vue';
  import ChangePassword from '~/components/pages/settings/ChangePassword.vue';

  export default {
    layout: 'SettingsLayout',
    components: {
      BillingAddress,
      ShippingAddress,
      UserSettings,
      ChangePassword,
    },
    head() {
      return {
        title: 'Addresses - Flyrise Dashboard',
        meta: [
          // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          {
            hid: 'description',
            name: 'description',
            content: ''
          }
        ]
      }
    }
  };
</script>
