<template>
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-12">
        <h1 class="card-preheader mb-4">Invoices</h1>
      </div>
    </div>
    <div class="row">
      
      <!-- USER SETTINGS -->
      <div class="col-12 col-lg-6">
        <div class="row">
          <!-- <div class="col-12">
            <h1 class="card-preheader mb-3">User Settings</h1>
          </div> -->
          <div class="col-12">
            <user-settings></user-settings>
          </div>
        </div>
      </div>

      <!-- CHANGE PASSWORD -->
      <div class="col-12 col-lg-6">
        <div class="row">
          <!-- <div class="col-12">
            <h1 class="card-preheader mb-3">Change Password</h1>
          </div> -->
          <div class="col-12">
            <change-password></change-password>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>
<script>

export default {
    //middleware: 'redirects',
    layout: 'SettingsLayout',
    head() {
        return {
            title: 'Add New Payment Method - Flyrise Dashboard',
            meta: [
                // hid is used as unique identifier. Do not use `vmid` for it as it will not work
                {
                    hid: 'description',
                    name: 'description',
                    content: ''
                }
            ]
        }
    }
  };
</script>
