<template>
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-12">
        <h1 class="card-preheader mb-4">Organization Details</h1>
      </div>
    </div>
    <div class="row">

      <!-- COMPANY -->
      <div class="col-12 col-lg-6">
        <div class="row">
          <!-- <div class="col-12">
            <h1 class="card-preheader mb-3">Company</h1>
          </div> -->
          <div class="col-12">
            <company></company>
          </div>
        </div>
      </div>

      <!-- USERS -->
      <div class="col-12 col-lg-6">
        <div class="row">
          <!-- <div class="col-12">
            <h1 class="card-preheader mb-3">Company</h1>
          </div> -->
          <div class="col-12">
            <company-users></company-users>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>
<script>
  import Company from '~/components/pages/settings/Company.vue';
  import CompanyUsers from '~/components/pages/settings/CompanyUsers.vue';

  export default {
    layout: 'SettingsLayout',
    components: {
      Company,
      CompanyUsers
    },
     head() {
      return {
        title: 'Organization - Flyrise Dashboard',
        meta: [
          // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          {
            hid: 'description',
            name: 'description',
            content: ''
          }
        ]
      }
    }
  };
</script>
