<template>
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-12">
        <h1 class="card-preheader mb-4">My Addresses</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <billing-address></billing-address>
      </div>
      <div class="col-lg-6">
        <shipping-address></shipping-address>
      </div>
    </div>
  </div>
</template>
<script>
  import BillingAddress from '~/components/pages/settings/BillingAddress.vue';
  import ShippingAddress from '~/components/pages/settings/ShippingAddress.vue';

  export default {
    layout: 'SettingsLayout',
    components: {
      BillingAddress,
      ShippingAddress
    },
    head() {
      return {
        title: 'Addresses - Flyrise Dashboard',
        meta: [
          // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          {
            hid: 'description',
            name: 'description',
            content: ''
          }
        ]
      }
    }
  };
</script>
