<template>
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-12">
        <h1 class="card-preheader mb-4">Orders &amp; Renewals</h1>
        <!-- <h1>I am rendered on the {{ renderedON }} side</h1> -->
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <orders-table></orders-table>
      </div>
    </div>
  </div>
</template>
<script>
  import { Dropdown, DropdownItem, DropdownMenu, Table, TableColumn } from 'element-ui';
  import OrdersTable from '~/components/pages/settings/OrdersTable.vue';
  import axios from 'axios';
  export default {
    layout: 'SettingsLayout',
    components: {
      OrdersTable,
      [Dropdown.name]: Dropdown,
      [DropdownItem.name]: DropdownItem,
      [DropdownMenu.name]: DropdownMenu,
      [Table.name]: Table,
      [TableColumn.name]: TableColumn
    },
    mounted() {
      
    },
    data() {
        return {
          name: '',
          description: '',
          output: '',
          model: {
            email: '',
            password: '',
            rememberMe: false
          },
        };
    },
    methods: {
      get_orders(e) {
        e.preventDefault();
        console.log('form submitted')
          let currentObj = this;

      }
    },
    head() {
      return {
        title: 'Orders & Renewals - Flyrise Dashboard',
        meta: [
          // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          {
            hid: 'description',
            name: 'description',
            content: ''
          }
        ]
      }
    },
    asyncData() {
      return { renderedOn: process.client ? 'client' : 'server' }
    }
  };
</script>
