<template>
  <div>

    <div class="container-fluid mt-5">
      
      <div class="row">
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body text-center">
              <h3>Account</h3>
              <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure maxime distinctio repudiandae ad! Pariatur facilis recusandae quis corporis minus quas sit architecto autem dolore velit, harum, illo aliquid possimus odio?</p>
              <a href="/pages/settings/account" class="btn btn-sm btn-default rounded-pill">Click Here</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body text-center">
              <h3>Company</h3>
              <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure maxime distinctio repudiandae ad! Pariatur facilis recusandae quis corporis minus quas sit architecto autem dolore velit, harum, illo aliquid possimus odio?</p>
              <a href="/pages/settings/company" class="btn btn-sm btn-default rounded-pill">Click Here</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body text-center">
              <h3>Orders</h3>
              <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure maxime distinctio repudiandae ad! Pariatur facilis recusandae quis corporis minus quas sit architecto autem dolore velit, harum, illo aliquid possimus odio?</p>
              <a href="/pages/settings/orders" class="btn btn-sm btn-default rounded-pill">Click Here</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body text-center">
              <h3>Subscriptions</h3>
              <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure maxime distinctio repudiandae ad! Pariatur facilis recusandae quis corporis minus quas sit architecto autem dolore velit, harum, illo aliquid possimus odio?</p>
              <a href="/pages/settings/subscriptions" class="btn btn-sm btn-default rounded-pill">Click Here</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body text-center">
              <h3>Addresses</h3>
              <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure maxime distinctio repudiandae ad! Pariatur facilis recusandae quis corporis minus quas sit architecto autem dolore velit, harum, illo aliquid possimus odio?</p>
              <a href="/pages/settings/addresses" class="btn btn-sm btn-default rounded-pill">Click Here</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body text-center">
              <h3>Payment Methods</h3>
              <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure maxime distinctio repudiandae ad! Pariatur facilis recusandae quis corporis minus quas sit architecto autem dolore velit, harum, illo aliquid possimus odio?</p>
              <a href="/pages/settings/payment-methods" class="btn btn-sm btn-default rounded-pill">Click Here</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body text-center">
              <h3>Invoices</h3>
              <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure maxime distinctio repudiandae ad! Pariatur facilis recusandae quis corporis minus quas sit architecto autem dolore velit, harum, illo aliquid possimus odio?</p>
              <a href="/pages/settings/invoices" class="btn btn-sm btn-default rounded-pill">Click Here</a>
            </div>
          </div>
        </div>
      </div>
      
    </div>


  </div>
</template>
<script>
  export default {
    layout: 'SettingsLayout'
  };
</script>
