<template>
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-12">
        <h1 class="card-preheader mb-4">Saved Payment Methods</h1>
        <div class="notice-holder" v-html="wc_data.printwcnotices"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <payment-methods-table :type="'default'"></payment-methods-table>
      </div>
    </div>
  </div>
</template>
<script>
  import axios from 'axios';
  import { Dropdown, DropdownItem, DropdownMenu, Table, TableColumn } from 'element-ui';
  import PaymentMethodsTable from '~/components/pages/settings/PaymentMethodsTable.vue';
  import NewPaymentMethod from '~/components/pages/settings/NewPaymentMethod.vue';

  export default {
    layout: 'SettingsLayout',
    components: {
      PaymentMethodsTable,
      NewPaymentMethod,
      [Dropdown.name]: Dropdown,
      [DropdownItem.name]: DropdownItem,
      [DropdownMenu.name]: DropdownMenu,
      [Table.name]: Table,
      [TableColumn.name]: TableColumn
    },
    data() {
      return {
        wpData: {},
        wc_data: {
          printwcnotices: '',
        }
      };
    },
    mounted() {
      this.wpData = wpData;
      this.wc_data = {
        printwcnotices: wpData.print_woo_notices,
      }
    },
    head() {
      return {
        title: 'Payment Methods - Flyrise Dashboard',
        meta: [
          // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          {
            hid: 'description',
            name: 'description',
            content: ''
          }
        ]
      }
    }
  };


</script>
