<template>
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-12">
        <h1 class="card-preheader mb-4">My Services</h1>
      </div>
    </div>
    <div class="row">
      
      <!-- FOR EACH ACTIVE SERVICE -->
      <!-- THE BUTTON NEEDS TO OPEN A MODAL -->
      <div class="col-12 col-sm-4 d-flex align-items-stretch" v-for="sub in subs" :key="sub">
        <div class="card my-services-card flex-fill">
          <div class="card-img-top">
            
            <!-- PRODUCT FEATURED IMAGE -->
            <img :src="sub[1].img_url">
          </div>
          <div class="card-body text-center">
            
            <!-- PRODUCT NAME -->
            <div class="h2 text-center mb-3">{{sub[1].name}}</div>
            
            <!-- SUBSCRIPTION COST -->
            <div class="h4 text-center mb-4 text-accent">${{sub[1].total}}/Month</div>
            
            <!-- MODAL BUTTON -->
            <button class="btn btn-dark mr-0" @click="showM(sub[0])">Details</button>
           
            <!-- MODAL -->
            <modal :show.sync="modal[sub[0]]" modal-classes="my-services-modal">
              <template slot="header">
                <h5 class="modal-title" id="exampleModalLabel">{{sub[1].name}}</h5>
              </template>
              
              <!-- PRODUCT FEATURED IMAGE -->
              <div class="service-image">
                <img :src="sub[1].img_url">
              </div>
              
              <!-- PRODUCT NAME -->
              <div class="service-title h2 text-center mb-3 mt-4">{{sub[1].name}}</div>
              
              <!-- PRODUCT DESCRIPTION -->
              <div class="service-description mb-4" v-html="sub[1].description"></div>
            </modal>
          </div>
        </div>
      </div>
      <!-- END FOR EACH -->

    </div>
    <div class="row">
      <div class="col-12">
        <subscriptions-table :type="'default'"></subscriptions-table>
      </div>
    </div>
  </div>
</template>
<script>
  import { Dropdown, DropdownItem, DropdownMenu, Table, TableColumn } from 'element-ui';
  import SubscriptionsTable from '~/components/pages/settings/SubscriptionsTable.vue';
  import Modal from '~/components/argon-core/Modal.vue';

  export default {
    layout: 'SettingsLayout',
    components: {
      SubscriptionsTable,
      Modal,
      [Dropdown.name]: Dropdown,
      [DropdownItem.name]: DropdownItem,
      [DropdownMenu.name]: DropdownMenu,
      [Table.name]: Table,
      [TableColumn.name]: TableColumn
    },
    data() {
      return {
        modal: [],
        wpData : {},
        tableData: '',
        currentPage: 1,
        subs : '',
        mshow: true,
      }
    },
    created() {
                  var vm = this;
                  var data = [];
                  var myObj = {};
                  let entries = Object.entries(myObj);
                  console.log(entries)
                  this.subs = entries;

                  for (var i = 0; i < this.subs.length; i++) {
                    vm.modal[this.subs[i][0]] = false;
                  }
                  console.log(this.modal);
    },
    mounted() {
      this.wpData = wpData;
      this.myObj = wpData.subscriptions;
    },
    methods:  {
      showM: function(id) {
      //  this.modal[id] = true;
        this.$set(this.modal, id, true);
        console.log(this.modal[id]);
      }
    },
    head() {
      return {
        title: 'Services - Flyrise Dashboard',
        meta: [
          // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          {
            hid: 'description',
            name: 'description',
            content: ''
          }
        ]
      }
    }
  };
</script>
