<template>
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-12">
        
        <h1 v-if="order" class="card-preheader mb-4">Order {{orderID}} Details</h1>
        <h1 v-else class="card-preheader mb-4">Order Details</h1>
        
  
      </div>
    </div>
    <div class="row">
      
      <!-- ORDER DETAILS -->
      <div class="col-12 col-lg-6">
        <div class="row">
          <!-- <div class="col-12">
            <h1 class="card-preheader mb-3">Details</h1>
          </div> -->
          <div class="col-12">
            <order-details></order-details>
          </div>
        </div>
      </div>

      <!-- ORDER SUMMARY -->
      <div class="col-12 col-lg-6">
        <div class="row">
          <!-- <div class="col-12">
            <h1 class="card-preheader mb-3">Summary</h1>
          </div> -->
          <div class="col-12">
            <order-summary></order-summary>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>
<script>
  import OrderDetails from '~/components/pages/settings/OrderDetails.vue';
  import OrderSummary from '~/components/pages/settings/OrderSummary.vue';

  export default {
    layout: 'SettingsLayout',
    components: {
      OrderDetails,
      OrderSummary,
    },
    data() {
      return {
        wpData: {},
        order: null,
        data: [],
        myObj: {},
        orderID: 0,
      };
    },
    mounted() {
      this.wpData = wpData;
      this.myObj = wpData.orders;

      //if (process.client) {

        function oid() {
          var oid = new URL(location.href).searchParams.get('oid');
          return oid;
        }
        var oid = new URL(location.href).searchParams.get('oid');
        
        let entries = Object.entries(this.myObj);
        var odata = entries.find(function (element) { 
          return new URL(location.href).searchParams.get('oid'); 
        }); 
        this.order = odata;
        this.orderID = new URL(location.href).searchParams.get('oid')

        console.log('mounted:');
        console.log(this.order);
        console.log("Order ID: " + this.orderID);
      //}

    },
    created() {
      function oid() {
        var oid = new URL(location.href).searchParams.get('oid');
        return oid;
      }
      var oid = new URL(location.href).searchParams.get('oid');
      var data = [];
      var myObj = {};
      let entries = Object.entries(myObj);
      var odata = entries.find(function (element) { 
        return new URL(location.href).searchParams.get('oid'); 
      }); 
      this.order = odata;
      this.orderID = new URL(location.href).searchParams.get('oid');

      console.log('created:');
      console.log(this.order);
      console.log("Order ID: " + this.orderID);
    },
    head() {
      return {
        title: 'View Order - Flyrise Dashboard',
        meta: [
          // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          {
            hid: 'description',
            name: 'description',
            content: ''
          }
        ]
      }
    }
  };
</script>
