<template>
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-12">
        <h1 v-if="sub" class="card-preheader mb-4"></h1><!--{{sub[1].name}}-->
        <h1 v-else class="card-preheader mb-4">Service Details</h1>
      </div>
    </div>
    <div class="row">
      
      <!-- SUBSCRIPTION DETAILS -->
      <div class="col-12 col-lg-6">
        <div class="row">
          <!-- <div class="col-12">
            <h1 class="card-preheader mb-3">User Settings</h1>
          </div> -->
          <div class="col-12">
            <subscription-details></subscription-details>
          </div>
        </div>
      </div>
      
      <!-- SUBSCRIPTION RENEWAL HISTORY -->
      <div class="col-12 col-lg-6">
        <div class="row">
          <!-- <div class="col-12">
            <h1 class="card-preheader mb-3">User Settings</h1>
          </div> -->
          <div class="col-12">
            <subscription-renewal-history></subscription-renewal-history>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>
<script>
  import SubscriptionDetails from '~/components/pages/settings/SubscriptionDetails.vue';
  import SubscriptionSummary from '~/components/pages/settings/SubscriptionSummary.vue';
  import SubscriptionRenewalHistory from '~/components/pages/settings/SubscriptionRenewalHistory.vue';

  export default {
    layout: 'SettingsLayout',
    components: {
      SubscriptionDetails,
      SubscriptionSummary,
      SubscriptionRenewalHistory
    },
    data() {
      return {
        wpData: {},
        sub: {},
        data: [],
        myObj: {},
      };
    },
    created() {
      // function sid() {
      //   var sid = new URL(location.href).searchParams.get('sid');
      //   return sid;
      // }
      // var sid = new URL(location.href).searchParams.get('sid');
      // var data = [];
      // var myObj = wpData.subscriptions;
      // let entries = Object.entries(myObj);
      // var subdata = entries.find(function (element) { 
      //   return new URL(location.href).searchParams.get('sid'); 
      // }); 
      // this.sub = subdata;
    },
    mounted() {
      this.wpData = wpData;
      function sid() {
        var sid = new URL(location.href).searchParams.get('sid');
        return sid;
      }
      var sid = new URL(location.href).searchParams.get('sid');
      this.myObj = this.wpData.subscriptions;
      let entries = Object.entries(this.myObj);
      var subdata = entries.find(function (element) { 
        return new URL(location.href).searchParams.get('sid'); 
      }); 
      this.sub = subdata;
      //console.log(this.myObj);
    },
    head() {
      return {
        title: 'View Subscription - Flyrise Dashboard',
        meta: [
          // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          {
            hid: 'description',
            name: 'description',
            content: ''
          }
        ]
      }
    }
  };
</script>
