<template>
  <div :class="layoutClass" class="auth-layout bg-default">
    <div class="main-content">
      <nuxt></nuxt>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      layoutClass: ''
    }
  },
};

</script>