<template>
<client-only>
  <div id="loginLayout" class="wrapper" v-loading="loading">
    <div class="main-content">
      <nuxt></nuxt>
    </div>
  </div>
</client-only>
</template>
<script>
  /* eslint-disable no-new */

  import globalMixin from "../mixins/global.js";

  export default {
    data() {
      return {
        loading: false,
      }
    },
    mixins: [globalMixin],
    components: {},
    methods: {
      
    },
    mounted() {
      console.log('loginLayout mounted');
      this.loading = true;
      let userLoaded = this.authenticateMixin();
      this.loading = userLoaded.loading;
      if(userLoaded.authenticated == false){
        this.$router.push('/login');
      }
      if(userLoaded.authenticated == true){
        this.$router.push('/dashboard');
      }
    }
  };
</script>
