<template>
<client-only>
  <div id="onboardingLayout" class="wrapper">
    <div class="main-content">
      <nuxt></nuxt>
    </div>
  </div>
</client-only>
</template>
<script>
  /* eslint-disable no-new */

  import globalMixin from "../mixins/global.js";

  export default {
    data() {
      return {
        //loading: true,
      }
    },
    //mixins: [globalMixin],
    components: {},
    methods: {
      
    },
    async beforeMount() {
      console.log('route: ');
      console.dir(this.$route);

      // if(userLoaded.authenticated == false){
      //   this.$router.replace('/login');
      // }else{
      //   this.loading = userLoaded.loading;
      //   this.show = !this.show;
      // }
      
    },
    mounted() {
      //this.loading = this.authenticateMixin();
    }
  };
</script>
