<template>
    <div class="wrapperMain">

        <Transition name="fade" appear mode=''>

            <div class="inner_wrapper" v-if="show" key="visible">
                <div class="row justify-content-center vertical-center">
                    <div class="col col-sm-8 col-lg-8">
                    <!-- LOGO -->
                    <div class="row justify-content-center mb-0">
                        <div class="col col-12 text-center">
                        <img id="flyrise_logo" src="/wp-content/themes/midas-dashboard/assets/images/flyrise-full-color-logo.svg" alt="">
                        </div>
                    </div>
                    <!-- <div class="row justify-content-center mb-0">
                        <button @click="show = !show">Toggle</button>
                    </div> -->
                    </div>
                </div>
            </div>

            <div class="inner_wrapper" key="notVisible" v-else>
                <div id="onboardingLayout" class="wrapper">
                    <div class="main-content">
                        <nuxt></nuxt>
                    </div>
                </div>
            </div>
        </Transition>

  </div>
</template>
<script>
    /* eslint-disable no-new */
    
    import { Loading } from 'element-ui';
    import { LoadingPanel } from '@/components/argon-core';

    import globalMixin from "../mixins/global.js";

    export default {
        transition: {
            name: 'home',
            mode: 'out-in'
        },
        data() {
            return {
                loading: true,
                show: true,
            }
        },
        mixins: [globalMixin],
        components: {},
        methods: {
            
        },
        async beforeMount() {
            let userLoaded = this.authenticateMixin();
            //console.log(userLoaded);
            //console.log('authenticated: ' + userLoaded.authenticated);
            if(userLoaded.authenticated == false){
                this.$router.replace('/login');
            }else{
                this.loading = userLoaded.loading;
                this.show = !this.show;
            }
            
        }
    };
</script>
<style scoped>
  .vertical-center {
      height: 100vh;
      height: 100%;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
  }
  .justify-content-center {
      justify-content: center !important;
  }





  .fade-enter-active, .fade-leave-active {
    transition: opacity 1s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
</style>
