<template>
  <div class="wrapper">

    <Transition name="fade" appear mode=''>

    <div class="inner_wrapper" v-if="show" key="visible">
      <div class="row justify-content-center vertical-center">
        <div class="col col-sm-8 col-lg-4">
          <!-- LOGO -->
          <div class="row justify-content-center mb-0">
            <div class="col col-12 text-center">
              <img id="flyrise_logo" src="/wp-content/themes/midas-dashboard/assets/images/flyrise-full-color-logo.svg" alt="">
            </div>
          </div>
          <!-- <div class="row justify-content-center mb-0">
            <button @click="show = !show">Toggle</button>
          </div> -->
        </div>
      </div>
    </div>

    <div class="inner_wrapper" key="notVisible" v-else>
      <notifications></notifications>

      <dashboard-sidebar :type="'default'"></dashboard-sidebar>

      <div class="main-content">
        <dashboard-navbar :type="$route.name === 'alternative' ? 'light': 'default'"></dashboard-navbar>
        <!-- <dashboard-navbar :type="'default'"></dashboard-navbar> -->
        <!-- <dashboard-navbar-secondary v-if="$route.name !== 'dashboard'" class="hello"></dashboard-navbar-secondary> -->
        <!-- <dashboard-navbar-secondary v-bind:class="{ 'd-none': $route.name === 'dashboard'}" class="hello"></dashboard-navbar-secondary> -->
        <!-- <div style="text-align:center"><p><strong>SettingsLayout</strong></p></div> -->
        

        <div @click="$sidebar.displaySidebar(false)">
          <nuxt v-loading="loading"></nuxt>
        </div>
        <!-- <content-footer v-if="!$route.meta.hideFooter"></content-footer> -->
        
      </div>
    </div>
    </Transition>

  </div>
</template>
<script>
  import { Loading } from 'element-ui';
  import { LoadingPanel } from '@/components/argon-core';

  /* eslint-disable no-new */
  import PerfectScrollbar from 'perfect-scrollbar';
  import 'perfect-scrollbar/css/perfect-scrollbar.css';

  function hasElement(className) {
    return document.getElementsByClassName(className).length > 0;
  }

  function initScrollbar(className) {
    if (hasElement(className)) {
      new PerfectScrollbar(`.${className}`);
    } else {
      // try to init it later in case this component is loaded async
      setTimeout(() => {
        initScrollbar(className);
      }, 100);
    }
  }

  import DashboardSidebar from '~/components/layouts/argon/DashboardSidebar.vue';
  import DashboardNavbar from '~/components/layouts/argon/DashboardNavbar.vue';
  //import DashboardNavbarSecondary from '~/components/layouts/argon/DashboardNavbarSecondary.vue';
  import ContentFooter from '~/components/layouts/argon/ContentFooter.vue';
  import DashboardContent from '~/components/layouts/argon/Content.vue';

  import globalMixin from "../mixins/global.js";

  export default {
    transition: {
      name: 'home',
      mode: 'out-in'
    },
    data() {
      return {
        loading: true,
        show: true,
        authenticated: true,
        //wpData: null
      }
    },
    mixins: [globalMixin],
    components: {
      DashboardSidebar,
      DashboardNavbar,
      //DashboardNavbarSecondary,
      ContentFooter,
      DashboardContent
    },
    methods: {
      initScrollbar() {
        let isWindows = navigator.platform.startsWith('Win');
        if (isWindows) {
          initScrollbar('scrollbar-inner');
        }
      }
    },
    async beforeMount() {
      let userLoaded = this.authenticateMixin();
      //console.log(userLoaded);
      //console.log('authenticated: ' + userLoaded.authenticated);
      console.log('route: ');
      console.dir(this.$route);

      if(userLoaded.authenticated == false){
        this.$router.replace('/login');
      }else{
        this.loading = userLoaded.loading;
        this.show = !this.show;
      }
      
    }
  };
</script>
<style scoped>
  .vertical-center {
      height: 100vh;
      height: 100%;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
  }
  .justify-content-center {
      justify-content: center !important;
  }





  .fade-enter-active, .fade-leave-active {
    transition: opacity 1s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
</style>