<template>
  <div id="page-detail">
    <div class="container">
      <div class="row justify-content-center vertical-center">
        
        <div class="col col-sm-8 col-lg-8">
          
          <!-- LOGO -->
          <div class="row justify-content-center mb-0">
            <div class="col col-12 text-center">
              <img id="flyrise_logo" src="/wp-content/themes/midas-dashboard/assets/images/flyrise-full-color-logo.svg" alt="">
            </div>
          </div>

          <!-- NOTICES -->
          <div id="login_error" class="text-center">Step 3 of 4</div>

          <!-- CARD -->
          <div id="loginCard" class="card ds-default" v-loading="loading">

            <!-- CARD HEADER -->
            <div class="card-header border-bottom-0">
              <p class="approved_proposal text-center mb0 mb-0">We're excited that you approved your proposal. Now We'll Checkout.</p>
            </div>

            <!-- CARD BODY -->
            <div class="card-body">
              <div v-bind:class="{ 'd-none': pendingOrders.length < 1}" class="col-12 col-md-12 col-lg-12">
                <div class="row">
                  <!-- <div class="col-12">
                    <h1 class="card-preheader mb-3">Notices</h1>
                  </div> -->
                  <div class="col-12">
                    <div class="card bg-dark" v-for="order in pendingOrders" :key="order.id">
                      <div class="card-body" v-if="order.status == 'pending'">
                        <h5 class="text-white">Open Invoice</h5>
                        <h2 class="text-white mb-4">Order ID: {{order.id}} <br> Total: {{order.total}}</h2>
                        <h2 class="text-white mb-4"></h2>
                        <h4 class="text-accent mb-0"><a :href="`/payment/checkout/payments-checkout/${order.id}/?pay_for_order=true&key=${order.order_key}`">View & Pay</a></h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div v-bind:class="{ 'd-none': pendingPaymentOrders.length < 1}" class="col-12 col-md-12 col-lg-12">
                <div class="row">
                  <div class="col-12">
                    <div class="card bg-dark" v-for="order in pendingPaymentOrders" :key="order.id">
                      <div class="card-body" v-if="order.status == 'pending payment'">
                        <h5 class="text-white">Open Invoice</h5>
                        <h2 class="text-white mb-4">Order ID: {{order.id}} <br> Total: {{order.total}}</h2>
                        <h2 class="text-white mb-4"></h2>
                        <h4 class="text-accent mb-0"><a :href="`/payment/checkout/payments-checkout/${order.id}/?pay_for_order=true&key=${order.order_key}`">View & Pay</a></h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>



            </div>
          </div>
          

        </div>

      </div>
    </div>
  </div>
</template>
<script>
    import axios from 'axios';
    //import { useRouter } from 'vue-router'
    import { Loading } from 'element-ui';
    import { LoadingPanel } from '@/components/argon-core';

    function setBodyClasses() {
        let docClasses = document.body.classList;
        docClasses.add('vue-login');
    }

    export default {
        layout: 'OnboardingLayout2',
        components: {
            //OnboardingAddresses,
        },

        mounted() {
          var vm = this;
          //let currentObj = this;
          this.loading = true;
          console.log('Approved Page Receives them back');
          this.wpData = wpData;
          // vm.get_user_details();
          //console.log(wpData);

          var pendingOrder = this.wpData.orders.filter(i => i.status === 'pending')[0];
          var pendingPaymentOrder = this.wpData.orders.filter(i => i.status === 'pending payment')[0];
          console.log('Pending Order: ' + pendingOrder);
          console.log('Pending Payment Order: ' + pendingPaymentOrder);
          //this.$router.push('/payment/checkout/payments-checkout/' + pendingOrder.id + '/?pay_for_order=true&key=' + pendingOrder.order_key);
          
          var orderFound = false;
          // Comment these out to stop the redirect to inspect what data we have here (Vue Devtools!)
          

          /* Set Journey that they've returned from Proposal */
          var params = new FormData();
          params.append('action', 'flyrise_update_journey');
          axios.post('/wp-admin/admin-ajax.php', params)
          .then(function (response) {
            console.log(response);
          })
          .catch(function (error) {
            console.table(error)
          });


          setTimeout(function() {
            if(pendingOrder && pendingOrder.id){
              console.log("Pending Order ID: " + pendingOrder.id);
              orderFound = true;
              document.location.href = '/payment/checkout/payments-checkout/' + pendingOrder.id + '/?pay_for_order=true&key=' + pendingOrder.order_key;
            }
            if(pendingPaymentOrder && pendingPaymentOrder.id && orderFound == false){
              console.log("Pending Payment Order ID: " + pendingPaymentOrder.id);
              orderFound = true;
              document.location.href = '/payment/checkout/payments-checkout/' + pendingPaymentOrder.id + '/?pay_for_order=true&key=' + pendingPaymentOrder.order_key;
            }

            // If no Order or Subscription was made for this User yet, Alert.
            if(orderFound == false){
              alert('An Order needs to be created. Please contact your Flyrise account manager.');
            }
          }, 3000); 

        },

        setup() {
          const router = userRouter();
        },

        computed: {
          pendingOrders: function () {
            return this.wpData.orders.filter(i => i.status === 'pending')
          },
          pendingPaymentOrders: function () {
            return this.wpData.orders.filter(i => i.status === 'pending payment')
          }
        },

        data() {
          return {
            wpData: {
              "orders":[],
            },
              //companyname: 'Loading',
            loading: true
          };
        },

        methods: {

          created() {
          //var vm = this;
          setBodyClasses();
          
          },

          asyncData() {
          return { renderedOn: process.client ? 'client' : 'server' }
          },

        },

        head() {
          return {
              title: 'Details - Flyrise Onboarding',
              meta: [
              // hid is used as unique identifier. Do not use `vmid` for it as it will not work
              {
                  hid: 'description',
                  name: 'description',
                  content: ''
              }
              ]
          }
        }
    }
</script>
<style>
#loading {
  min-height: 200px;
  display: flex;
  align-items: center;
}

.el-loading-spinner .path {
  stroke: #66615b !important;
}

.el-loading-mask {
  background: rgba(255,255,255,0.5) !important;
}

</style>

