<template>
  <div>

    <div class="container-fluid mt-5">
      <div class="row">

        <template v-if="(pendingOrders.length > 0) || (journey.step_3 != true) || (journey.step_1 != true) || (journey.step_2 != true)">
        <div class="col-4 col-md-4">
          
          <div class="col-12" >
            <h1 class="card-preheader mb-3">Things To Do</h1>
          </div>

          <!-- <NuxtLink to="/onboard">
            About (internal link that belongs to the Nuxt App)
          </NuxtLink> -->

          <!-- NOTICES PENDING ORDERS -->
          <div v-bind:class="{ 'd-none': pendingOrders.length < 1}" class="row">
            <!-- <div class="row"> -->

              <div class="col-12">

                <div class="card bg-dark" v-for="order in pendingOrders" :key="order.id">
                  <div class="card-body" v-if="order.status == 'pending'">
                    <h5 class="text-white">Open Invoice</h5>
                    <h2 class="text-white mb-4">Order ID: {{order.id}} <br> Total: {{order.total}}</h2>
                    <h2 class="text-white mb-4"></h2>
                    <h4 class="text-accent mb-0"><a :href="`/payment/checkout/payments-checkout/${order.id}/?pay_for_order=true&key=${order.order_key}`">View & Pay</a></h4>
                  </div>
                </div>
              </div>
            <!-- </div> -->
          </div>

          <!-- NOTICES Onboarding -->
          <div class="row" v-if="!journey.step_1 || !journey.step_2 || !journey.step_3 || journey.step_1 == false || journey.step_2 == false || journey.step_3 == false">
            <!-- <div class="row"> -->
              
              <!-- <div class="col-12">
                <h1 class="card-preheader mb-3">Finish Onboarding</h1>
              </div> -->

              <div class="col-12">

                <div class="card bg-dark">
                  <div class="card-body">
                    
                    <h5 class="text-white">Finish Onboarding</h5>

                    <span class="text-white mb-4" v-if="journey.step_1">
                      <!-- Password Changed<br /> -->
                    </span>
                    <span v-else v-if="!journey.step_1">
                      <h4 class="text-accent mb-0">
                        <a :href="`/onboard?username=${display_name}`">Step 1: Set a Password</a>
                      <br /></h4>
                    </span>

                    <span class="text-white mb-4" v-if="journey.step_1 && journey.step_2">
                      <!-- Details Confirmed<br /> -->
                    </span>
                    <span v-else v-if="journey.step_1 && !journey.step_2">
                      <h4 class="text-accent mb-0">
                        <a :href="`/detail`">Step 2: Confirm your details</a>
                      <br /></h4>
                    </span>

                    <span class="text-white mb-4" v-if="journey.step_1 && journey.step_2 && journey.step_3">
                      Proposal Accepted<br />
                    </span>
                    <span v-else v-if="journey.step_1 && journey.step_2 && !journey.step_3">          
                      <h4 class="text-accent mb-0">
                        <a :href="`${qwilr}`">Step 3: Accept your proposal</a>
                      </h4><br />
                    </span>
                  </div>
                </div>



              </div>
            <!-- </div> -->
          </div>

          <!-- NOTICES Requests -->
          <div v-bind:class="{ 'd-none': journey.requests > 0}" class="row">
            <!-- <div class="row"> -->
              
              <!-- <div class="col-12">
                <h1 class="card-preheader mb-3">Requests</h1>
              </div> -->

              <div class="col-12" v-for="(request, index) in journey.requests" :key="request.id">
                
                <div class="card bg-dark" v-if="request.event == 'request_published' || request.event == 'all_fields_completed' || request.event == 'request_completed'">

                  <div class="card-body">
                    <!-- <h5 class="text-white">Onboarding</h5> -->
                    
                    <span v-if="request.event == 'request_published'">
                      <!-- "event": "request_published" -->
                      <h5 class="text-white">Outstanding Request</h5>
                      <span class="text-white mb-4">{{request.name}}<br /></span>
                      <span class="text-white mb-4">Due: {{request.due}}<br /></span>
                      <span v-if="request.link !== null" class="text-white">
                        <h5 class="text-accent mb-0">
                          <a :href="`${request.link}`">Complete Request</a>
                        </h5>
                      </span>
                    </span>
                    
                    <span v-if="request.event == 'all_fields_completed'">
                      <!-- "event": "all_fields_completed" -->
                      <h5 class="text-white">Request Waiting for Admin Approval</h5>
                      <h2 class="text-white mb-4">{{request.name}}</h2>
                      <h2 class="text-white mb-4">Due: {{request.due}}</h2>
                      <span v-if="request.link !== null">
                        <h5 class="text-accent mb-0">
                          <a :href="`${request.link}`">Edit Request</a>
                        </h5>
                      </span>
                    </span>

                    <span v-if="request.event == 'request_completed'">
                      <!-- "event": "request_completed" -->
                      <h5 class="text-white">Request Completed</h5>
                      <h2 class="text-white mb-4">{{request.name}}</h2>
                      <h2 class="text-white mb-4">Completed: {{request.due}}</h2>
                      <span v-if="request.link !== null">
                        <h5 class="text-accent mb-0">
                          <a :href="null">No Action To Take</a>
                        </h5>
                      </span>
                    </span>
                    
                  </div>
                </div>
              </div>
            <!-- </div> -->
          </div>
        </div>
        </template>

        <div class="col-8 col-md-8">
          <!-- HISTORY + SETTINGS -->
          <!-- <div v-bind:class="{ 'col-lg-6': pendingOrders.length > 0, 'col-lg-6': pendingOrders.length < 1}" class="row"> -->
            <!-- <div class="row"> -->

              <!-- HISTORY -->
              <div v-bind:class="{ 'col-sm-12': pendingOrders.length > 0, 'col-sm-12': pendingOrders.length < 1}" class="col-12">
                <div class="row">

                  <!-- HISTORY -->
                  <div class="col-12">
                    <h1 class="card-preheader mb-3">History</h1>
                    <!-- <h1>I am rendered on the {{ renderedOn }} side</h1> -->
                  </div>
                  
                  <!-- SUBSCRIPTIONS -->
                  <!-- <div class="col-12 col-sm-6 d-flex align-items-stretch">
                    <div class="card flex-fill">
                      <div class="card-body text-center d-flex justify-content-center align-items-center align-content-center flex-wrap">
                        <div class="circle-icon bg-purple rounded-circle">
                          <i class="text-white ni ni-currency-exchange-2"></i>
                        </div>
                        
                        <h2 class="mt-3 flex-grow-1 flex-shrink-0 w-100">Services</h2>
                        <p class="text-muted flex-grow-1 flex-shrink-0 w-100"><small>View and manage current and past subscriptions</small></p>
                        <router-link :to="`/pages/settings/subscriptions`" class="btn btn-dark">View</b-button>
                      </div>
                    </div>
                  </div> -->

                  <!-- ORDERS -->
                  <div class="col-12 col-sm-12 d-flex align-items-stretch">
                    <div class="card flex-fill">
                      <div class="card-body text-center d-flex justify-content-center align-items-center align-content-center flex-wrap">
                        <div class="circle-icon bg-purple rounded-circle">
                          <i class="text-white ni ni-archive-paper-2"></i>
                        </div>
                        
                        <h2 class="mt-3 flex-grow-1 flex-shrink-0 w-100">Orders</h2>
                        <p class="text-muted flex-grow-1 flex-shrink-0 w-100"><small>View and download invoices for past orders and complete checkout for pending orders</small></p>
                        <router-link :to="`/pages/settings/orders`" class="btn btn-dark">View</router-link>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- SETTINGS -->
              <div v-bind:class="{ 'col-sm-12': pendingOrders.length > 0, 'col-sm-12': pendingOrders.length < 1}" class="col-12">
                <div class="row">
                  
                  <!-- SETTINGS -->
                  <div class="col-12">
                    <h1 class="card-preheader mb-3">Settings</h1>
                  </div>
                  
                  <!-- ACCOUNT -->
                  <div class="col-12 col-sm-6 d-flex align-items-stretch">
                    <div class="card flex-fill">
                      <div class="card-body text-center d-flex justify-content-center align-items-center align-content-center flex-wrap">
                        <div class="circle-icon bg-purple rounded-circle">
                          <i class="text-white ni ni-single-01-2"></i>
                        </div>
                        
                        <h2 class="mt-3 flex-grow-1 flex-shrink-0 w-100">My Profile</h2>
                        <p class="text-muted flex-grow-1 flex-shrink-0 w-100"><small>Edit your name, email address or reset your password</small></p>
                        <router-link :to="`/pages/settings/account`" class="btn btn-dark">Manage</router-link>
                      </div>
                    </div>
                  </div>

                  <!-- ORGANIZATION
                  <div class="col-12 col-sm-6 d-flex align-items-stretch">
                    <div class="card flex-fill">
                      <div class="card-body text-center d-flex justify-content-center align-items-center align-content-center flex-wrap">
                        <div class="circle-icon bg-purple rounded-circle">
                          <i class="text-white ni ni-multiple-11-2"></i>
                        </div>
                        
                        <h2 class="mt-3 flex-grow-1 flex-shrink-0 w-100">Organization</h2>
                        <p class="text-muted flex-grow-1 flex-shrink-0 w-100"><small>Manage contact information and user access for your organization</small></p>
                        <router-link :to="`/pages/settings/company`" class="btn btn-dark">Manage</b-button>
                      </div>
                    </div>
                  </div>-->

                  <!-- PAYMENT METHODS -->
                  <div class="col-12 col-sm-6 d-flex align-items-stretch">
                    <div class="card flex-fill">
                      <div class="card-body text-center d-flex justify-content-center align-items-center align-content-center flex-wrap">
                        <div class="circle-icon bg-purple rounded-circle">
                          <i class="text-white ni ni-credit-card-2"></i>
                        </div>
                        
                        <h2 class="mt-3 flex-grow-1 flex-shrink-0 w-100">Payment Methods</h2>
                        <p class="text-muted flex-grow-1 flex-shrink-0 w-100"><small>Securely view and manage the payment methods available to be used for your subscription</small></p>
                        <router-link :to="`/pages/settings/payment-methods`" class="btn btn-dark">Manage</router-link>
                      </div>
                    </div>
                  </div>

                  <!-- ADDRESSES
                  <div class="col-12 col-sm-6 d-flex align-items-stretch">
                    <div class="card flex-fill">
                      <div class="card-body text-center d-flex justify-content-center align-items-center align-content-center flex-wrap">
                        <div class="circle-icon bg-purple rounded-circle">
                          <i class="text-white ni ni-contacts"></i>
                        </div>
                        
                        <h2 class="mt-3 flex-grow-1 flex-shrink-0 w-100">Addresses</h2>
                        <p class="text-muted flex-grow-1 flex-shrink-0 w-100"><small>Manage default billing and shipping addresses associated with orders</small></p>
                        <router-link :to="`/pages/settings/addresses`" class="btn btn-dark">Manage</b-button>
                      </div>
                    </div>
                  </div>-->
                </div>
              </div>
            <!-- </div> -->
          <!-- </div> -->
        </div>

      </div>
    </div>

  </div>
</template>
<script>
  // Charts
  import * as chartConfigs from '@/components/argon-core/Charts/config';
  import LineChart from '@/components/argon-core/Charts/LineChart';
  import BarChart from '@/components/argon-core/Charts/BarChart';

  // Components
  import BaseProgress from '@/components/argon-core/BaseProgress';
  import RouteBreadCrumb from '@/components/argon-core/Breadcrumb/RouteBreadcrumb';
  import StatsCard from '@/components/argon-core/Cards/StatsCard';

  // Lists
  import ActivityFeed from '@/components/pages/dashboard/ActivityFeed.vue';
  import TaskList from '@/components/pages/dashboard/TaskList.vue';
  import UserList from '@/components/pages/dashboard/UserList.vue';
  import ProgressTrackList from '@/components/pages/dashboard/ProgressTrackList.vue';

  // Tables
  import LightTable from '@/components/pages/dashboard/LightTable.vue';
  import SocialTrafficTable from '@/components/pages/dashboard/SocialTrafficTable.vue';
  import PageVisitsTable from '@/components/pages/dashboard/PageVisitsTable.vue';

  import globalMixin from "../mixins/global.js";

  export default {

    //middleware: 'myMiddleWare',
    layout: 'SettingsLayout',
    components: {
      ActivityFeed,
      LineChart,
      BarChart,
      BaseProgress,
      RouteBreadCrumb,
      StatsCard,
      TaskList,
      PageVisitsTable,
      SocialTrafficTable,
      LightTable,
      UserList,
      ProgressTrackList
    },
    data() {
      return {
        bigLineChart: {
          allData: [
            [0, 20, 10, 30, 15, 40, 20, 60, 60],
            [0, 20, 5, 25, 10, 30, 15, 40, 40]
          ],
          activeIndex: 0,
          chartData: {
            datasets: [
              {
                label: 'Performance',
                data: [0, 20, 10, 30, 15, 40, 20, 60, 60],
              }
            ],
            labels: ['May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
          },
          extraOptions: chartConfigs.blueChartOptions,
        },
        redBarChart: {
          chartData: {
            labels: ['Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            datasets: [{
              label: 'Sales',
              data: [25, 20, 30, 22, 17, 29]
            }]
          }
        },
        wpData: {
          "orders":[],
        },
        journey: {},
        display_name: '',
        qwilr: '',
      };
    },
    
    mixins: [globalMixin],

    async beforeRouterEnter(to, from, next) {
      console.log('dashboard beforeRouterEnter');
      //next(await getUrlForRedirect(to.path));

      //next(vm => {
        // let userLoaded = this.authenticateMixin();
        // console.log(userLoaded);
      //})

      //next();

    },

    methods: {
      initBigChart(index) {
        let chartData = {
          datasets: [
            {
              label: 'Performance',
              data: this.bigLineChart.allData[index]
            }
          ],
          labels: ['May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
        };
        this.bigLineChart.chartData = chartData;
        this.bigLineChart.activeIndex = index;
      }
    },
    
    async mounted() {
      console.log('pages/dashboard.vue mounted');

      // let userLoaded = this.authenticateMixin();
      // this.loading = userLoaded.loading;
      // console.log('authenticated: ' + userLoaded.authenticated);
      // if(this.$store.state.user.billingFirstName){
      //   console.log('we have a populated store already');
      // }else{
      //   //if(wpData.userinfo.billingFirstName){
      //     //console.log('logged in');
      //     //this.$store.commit('user/add', wpData.userinfo);
      //   //}else{
      //   console.log('not logged in');
      //   this.$router.push({ name: 'login' })
      //   //}
      // }
    
      this.wpData = wpData;
      this.journey = (wpData.journey) ? JSON.parse(wpData.journey): {};
      //console.log(this.journey.step_1);
      this.display_name = wpData.userinfo.display_name;
      this.qwilr = wpData.qwilr;
      this.initBigChart(0);
      // console.log(wpData.orders)

      this.$nextTick(function () {
        // Code that will run only after the
        // entire view has been rendered
      })
    },
    created() {
      var vm = this;
      
    },
    updated() {
      this.$nextTick(function () {
        // Code that will run only after the
        // entire view has been re-rendered
      })
    },
    computed: {
      pendingOrders: function () {
        return this.wpData.orders.filter(i => i.status === 'pending')
      },
      
    },
    head() {
      return {
        title: 'Dashboard - Flyrise',
        meta: [
          // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          {
            hid: 'description',
            name: 'description',
            content: ''
          }
        ]
      }
    },
    asyncData() {
      return { renderedOn: process.client ? 'client' : 'server' }
    }
  };
</script>
<style></style>
