<template>
  <div id="page-detail">
    <div class="container">
      <div class="row justify-content-center vertical-center">
        
        <div class="col col-sm-8 col-lg-8">
          
          <!-- LOGO -->
          <div class="row justify-content-center mb-0">
            <div class="col col-12 text-center">
              <img id="flyrise_logo" src="/wp-content/themes/midas-dashboard/assets/images/flyrise-full-color-logo.svg" alt="">
            </div>
          </div>
          
          <!-- NOTICES -->
          <div id="login_error" class="text-center">Step 2 of 4</div>
          
          <!-- CARD -->
          <onboarding-addresses></onboarding-addresses>

          <!-- CARD FOOTER -->
          <div slot="header" class="row align-items-center">
            <div class="col">
              <!-- <h3 class="mb-0">Set Password</h3> -->
              <p id="statuspasswrap" class="mt-0 mb-0">
                <span id="passchangesuccess" style="display: none;">
                  <small id="statuspass" style="color: #FF00FF !important;">
                    Details Updated Successfully. You will now be redirected to Qwilr to review your proposal.
                  </small>
                </span>

                <!-- <span id="passmsg" style="display: none;">
                  <small id="statuspass" style="color: #ff0000 !important;"><span v-if="password.passmsg">{{password.passmsg}}</span></small>
                </span> -->
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>
<script>
    import axios from 'axios';
    import OnboardingAddresses from '~/components/pages/settings/OnboardingAddresses.vue';

    function setBodyClasses() {
        let docClasses = document.body.classList;
        docClasses.add('vue-login');
    }

    export default {
        layout: 'OnboardingLayout2',
        components: {
            OnboardingAddresses,
        },

        mounted() {
          // var vm = this;
          console.log('Details Page Mounted');
          // vm.get_user_details();
          //console.log(wpData);
        },

        data() {
          return {
            //passmsg: '',
            //companyname: 'Loading',
            //loading: false
          };
        },

        methods: {

          created() {
            //var vm = this;
            //setBodyClasses();
          
          },

          asyncData() {
          return { renderedOn: process.client ? 'client' : 'server' }
          },

        },

        head() {
          return {
              title: 'Details - Flyrise Onboarding',
              meta: [
              // hid is used as unique identifier. Do not use `vmid` for it as it will not work
              {
                  hid: 'description',
                  name: 'description',
                  content: ''
              }
              ]
          }
        }
    }
</script>

<style>
  #loading {
    min-height: 200px;
    display: flex;
    align-items: center;
  }

  .el-loading-spinner .path {
    stroke: #66615b !important;
  }

  .el-loading-mask {
    background: rgba(255,255,255,0.5) !important;
  }
  .done {
    text-decoration: line-through;
  }
</style>

