<template>
  <div>
    
  </div>
</template>
<script>
  //import globalMixin from "../mixins/global.js";

  export default {
    
    //mixins: [globalMixin],
    //layout: 'LoginLayout',
    data() {
      return {
        //loading: true,
        //authenticated: false,
        //wpData: (wpData)?wpData:null,
        //destination: '/dashboard'
      }
    },
    // created(){
    //   let userLoaded = this.authenticateMixin();
    //   console.log(userLoaded);
    // },
    // created() {
    //   this.$watch(
    //     () => this.$route.params,
    //     (toParams, previousParams) => {
    //       // react to route changes...
    //     }
    //   )
    // },
    //async beforeRouteEnter(to, from, next) {
      //console.log(to.query.username);
      
      // if( to.query.username !== undefined ){
      //   var destinationURL = to.query.username;
      //   this.destination = '/onboard?username=' + destinationURL;
      // }

      // if( typeof(to.query.username) !== 'undefined' ){
      //   next({ path: '/onboard?username=' . to.query.username })
      // }

      //next({ path: '/dashboard' })
      //next({ path: '/onboard?username=NewTestUserName_220808-a' })
    //},
    beforeRouteEnter(to, from, next) {
        const previousRoute = to;
        console.dir(to);
        console.log('fullPath: ' + to.fullPath);
        console.log('username: ' + to.query.username);
        if( Object.keys(to.query).length === 0 ){
          console.log('no query params');
          next({ path: '/dashboard' })
        }else{
          //console.log('fullPath: ' + to.fullPath);
          //if ( to.fullPath == '/?approved' ){
          //  console.log('/?approved == ' + to.fullPath + ': ' + ('/?approved' == to.fullPath)?'true':'false');
            //next({ path: '/approved' }) 
          //}else{
            // if ( to.query.username != 'undefined' ){
            //   console.log('username: ' + to.query.username);
            //   //next({ path: '/onboard?username=' + to.query.username })
            // }
          //}
        }
        
    },
    async beforeMount() { // too late
      // console.log('route: ');
      // console.dir(this.$route.params);

      // if(userLoaded.authenticated == false){
      //   this.$router.replace('/login');
      // }else{
      //   this.loading = userLoaded.loading;
      //   this.show = !this.show;
      // }
      
    },
    //middleware: 'redirect'
    async beforeCreate(to, from) {
      //let userLoaded = this.authenticateMixin();
      //this.loading = userLoaded.loading;
      // if(userLoaded.authenticated == false){
      //   this.$router.push('/login');
      // }
      // if(userLoaded.authenticated == true){
      //   this.$router.push('/dashboard');
      // }

      // var destination = '/dashboard';
      // if( to.query.username !== undefined ){
      //   destination = '/onboard?username=' + to.query.username;
      // }

      this.$router.push('/dashboard');
    }
  }
  
</script>
