<template>
  <div id="page-login"> 
    <div class="container">
      <div class="row justify-content-center vertical-center">
        
        <div class="col col-sm-8 col-lg-4">
          
          <!-- LOGO -->
          <div class="row justify-content-center mb-0">
            <div class="col col-12 text-center">
              <img id="flyrise_logo" src="/wp-content/themes/midas-dashboard/assets/images/flyrise-full-color-logo.svg" alt="">
            </div>
          </div>

          <!-- NOTICES -->
          <div id="login_error" class="text-center" v-if="loginerror"><strong>Error:</strong> {{loginerror}}</div>
          
          <!-- LOGIN OR RESET PW -->
          <div id="loginCard" class="card ds-default" v-loading="loading">
            <div class="card-header border-bottom-0">
              <div v-if="reset == 0" class="text-center">Dashboard Login</div>
              <div v-if="reset == 1" class="text-center">Reset Password</div>
            </div>
            <div class="card-body">
              
              <!-- LOGIN FORM -->
              <div v-if="reset == 0" role="form" id="login">
                <!-- <h1>I am rendered on the {{ renderedON }} side</h1> -->
                <base-input id="username" ref="email" v-model="model.email" label="Email Address or Username" name="username" labelFor="username"> </base-input>
                <base-input id="password" ref="password" type="password" v-model="model.password" label="Password" name="password" labelFor="password"> </base-input> 
                <div class="text-center">
                  <button v-on:click="user_login" class="btn btn-primary" type="primary">Sign in</button>
                </div>
              </div>

              <!-- RESET PW FORM 
              <div v-if="reset == 1" v-html="wpData.resetpass" id="resetpw"></div> -->

            </div>
          </div>

          <!-- ALT ACTIONS -->
          <div class="row mt-3">
            <div v-if="reset == 0" v-on:click="reset = 0" class="col-12 text-center">
              <p id="nav">
                <a href="/wp-login.php?action=lostpassword" class="login-reset-pw">Lost Your Password?</a>
              </p>
            </div>
            <div v-if="reset == 1" v-on:click="reset = 0" class="col-12 text-center"><h5><span class="login-reset-pw">Back To Login</span></h5></div>
          </div>

        </div>

      </div>
    </div>
  </div>
</template>
<script>
  import axios from 'axios';
  import { Loading } from 'element-ui';
  import { LoadingPanel } from '@/components/argon-core';

  function setBodyClasses() {
    let docClasses = document.body.classList;
    docClasses.add('vue-login');
  }

  export default {
    layout: 'LoginLayout',

    mounted() {
      console.log('OnboardingAddresses mounted.');
      //console.log(wpData);
      console.log('review login');
      var vm = this;
      //vm.user_logout();
    },
     
    data() {
      return {
        //name: '',
        description: '',
        output: '',
        model: {
          email: '',
          password: '',
          rememberMe: false
        },
        reset: 0,
        wpData: {},
        loginerror: '',
        loading: false
      };
    },

    methods: {
      user_logout(){
        var vm = this;
        console.log('logout upon arrival')
        let currentObj = this;
        var params = new FormData();
        //currentObj.loading = true;
        params.append('action', 'tajax_logout');
        axios.post('/wp-admin/admin-ajax.php', params)
        .then(function (response) {
          //console.log(response.data)
          //console.log(response.data.message)
          if (response.data.loggedin == false) {
            console.log('Logged out');
            currentObj.loginerror = response.data.message;
            //currentObj.loading = false;
          }
          else {
            console.log('Not logged out!');
            currentObj.loginerror = '';
            //currentObj.loading = false;
          }
        })
        .catch(function (error) {
          
        });
      },
      
      user_login(e) {
        var vm = this;
        e.preventDefault();
        console.log('form submitted')
        let currentObj = this;
        var params = new FormData();
        currentObj.loading = true;
        params.append('action', 'tajax_login');
        params.append('username', document.querySelector("#username").value);
        params.append('password', document.querySelector("#password").value);
        axios.post('/wp-admin/admin-ajax.php', params)
        .then(function (response) {
          //console.log(response.data)
          //console.log(response.data.message)
          if (response.data.loggedin === false) {
            currentObj.loginerror = response.data.message;
            currentObj.loading = false;
          }
          else {
            console.log('goodtogo');
            currentObj.loginerror = '';
            //var userRole = response.data.roles[0];
            //if (userRole === "administrator") {
            //  document.location.href = '/wp-admin';
            //} else {
              document.location.href = '/dashboard';
              //currentObj.$router.push('/dashboard');
            //}
          }
        })
        .catch(function (error) {
          
        });
      },
      // loginerror() {},
      // loading(){},
      // reset(){},
    },
    created() {
      var vm = this;
      setBodyClasses();
      document.addEventListener('keyup', function (evt) {
        if (evt.keyCode === 13) {
          vm.user_login(evt);
        }
      });
    },
    asyncData() {
      return { renderedOn: process.client ? 'client' : 'server' }
    }
  };
</script>
<style>
#loading {
  min-height: 200px;
  display: flex;
  align-items: center;
}

.el-loading-spinner .path {
  stroke: #66615b !important;
}

.el-loading-mask {
  background: rgba(255,255,255,0.5) !important;
}
</style>

