<template>
  <div id="page-onboard-set-password">
    <div class="container">
      <div class="row justify-content-center vertical-center">
        
        <div class="col col-sm-8 col-lg-4">
          
          <!-- LOGO -->
          <div class="row justify-content-center mb-0">
            <div class="col col-12 text-center">
              <img id="flyrise_logo" src="https://my.flyrise.io/wp-content/themes/midas-dashboard/assets/images/flyrise-full-color-logo.svg" alt="">
            </div>
          </div>

          <!-- NOTICES -->
          <div id="login_error" class="text-center">Step 1 of 4</div>


          <!-- CARD -->
          <div id="loginCard" class="card ds-default">

            <!-- CARD HEADER -->
            <div class="card-header border-bottom-0">
              <p class="text-center mb0 mb-0">Thanks for considering Flyrise. Please take a sec to set a secure password for your account.</p>
            </div>

            <!-- CARD BODY -->
            <div class="card-body">

              <form @submit.prevent="updateProfile" class="mb-0" v-loading="loading">
                <div id="changepassfields" v-if="editpass == 1">
                  <div class="disabled-form-group"><base-input id="showUsername" type="text" label="Username" :value="this.$route.query.username" labelFor="showUsername" disabled></base-input></div>
                  <base-input id="setPassword" type="password" label="Set Password"  v-model="password.newpass" placeholder="Set Password" labelFor="setPassword"></base-input>
                  <base-input id="confirmPassword" type="password" label="Confirm Password"  v-model="password.confpass" placeholder="Confirm Password" labelFor="confirmPassword"></base-input>
                  <div class="text-center">
                    <a href="#" v-on:click="update_password($event);" class="btn btn-dark">Save and Continue</a>
                  </div>
                </div>
              </form>

              <!-- NOTICES -->
              <div class="text-center">
                <div id="statuspasswrap" class="mt-0 mb-0 text-center">
                  <div id="passchangesuccess" style="display: none;">
                    <argon-alert>Password Updated Successfully. You will now be redirected to the details confirmation page in 3 seconds, <a href="/detail">click here</a>.</argon-alert>
                  </div>

                  <div id="passmsg" style="display: none;">
                    <argon-alert color="danger"><span v-if="password.passmsg">{{password.passmsg}}</span></argon-alert>
                  </div>
                </div>
              </div>

              <!-- FINAL MESSAGE -->
              <div class="text-center">
                <p>In the next step, we’ll confirm your business’ details</p>
              </div>
            

            </div>
          </div> <!--Login & loading wrap-->
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import { mapMutations } from 'vuex';
//  import { useRouter } from 'vue-router'
  import axios from 'axios';
  import { Loading } from 'element-ui';
  import { LoadingPanel } from '@/components/argon-core';
  import ArgonAlert from "@/components/argon-core/ArgonAlert.vue";
  //import ChangePassword from '~/components/pages/settings/ChangePassword.vue';

  function setBodyClasses() {
    let docClasses = document.body.classList;
    docClasses.add('vue-login');
  }

  export default {
    layout: 'OnboardingLayout',
    components: {
      ArgonAlert
      //ChangePassword,
    },

    setup() {
      const router = userRouter();
      //const router = useRouter();
      //const route = useRoute();
    },

    computed: {
      // id: {
      //   get(){
      //     console.log(this.$store.state.id);
      //     return this.$store.state.id;
      //   },
      //   set (value) {
      //     this.$store.commit('user/updateId', value)
      //   }
      // },
      // company: {
      //   get () {
      //     console.log('company get: ' + this.$store.state.company);
      //     return this.$store.state.company;
      //   },
      //   set (value) {
      //     this.$store.commit('user/updateCompany', value)
      //   }
      // }    
    },

    mounted() {
      var vm = this;
      //console.log('Component mounted.');
      vm.check_new();
      //console.log(wpData);
    },
     
    data() {
      return {
        password: {
          newpass: '',
          confpass: '',
          curpass: 'test',
          confmessage: '',
          passmsg: ''
        },
        statuspass: '',
        editpass: 1,
        loading: false,
        notifications: {
          topCenter: false
        },
      };
    },

    methods: {

      addUser (userObjectReturned) {
        //console.log('addTodo called'); // prints
        //console.log(userObjectReturned); // prints
        this.$store.commit('user/add', userObjectReturned);
      },
      ...mapMutations({
        // id: '/user/id',
        // company: 'user/company',
        // billingFirstName: 'user/billingFirstName'
      }),

      updateProfile() {
        alert('Your data: ' + JSON.stringify(this.user));
      },
      
      check_new() {
        var vm = this;
        //e.preventDefault();
        //console.log('checking if this is a new onboarding');
        let currentObj = this;
        var params = new FormData();
        currentObj.loading = true;
        params.append('action', 'tajax_login_auto');
        params.append('username', this.$route.query.username);
        //params.append('username', document.querySelector("#username").value);
        //params.append('password', document.querySelector("#password").value);
        axios.post('/wp-admin/admin-ajax.php', params)
        .then(function (response) {
          console.log('response data:');
          console.log(response.data);

          // User has already changed their password
          console.log(' error: ' + response.data.error);
          if(response.data.error == 'This password has already been changed.'){
            alert('Password has already been changed. Please Login.');
            document.location.href = '/login';
          }

          //console.log('company: ' + response.data.company); // is there

          // Alert User Not Created!
          if(response.data.username == 'No User with that Username'){
            alert('This User is not yet created. Please contact your Flyrise Project Manager.');
          }
          
          //console.log('qwilr: ' + response.data.qwilr); // is there
          // Alert User Not Created!
          if(response.data.qwilr == ''){
            alert('Your Qwilr Proposal still needs creating. Please contact your Flyrise Project Manager.');
          }

          currentObj.company = response.data.company;
          currentObj.qwilr = response.data.qwilr;
          currentObj.loading = false;
          console.log('now let us transfer the user to the Store!');
          
          currentObj.addUser(response.data);
          
 
          //this.$store.dispatch('user/add', response.data)
          
          //console.log(response.data.result) // auto logged in? or already logged in maybe...
          // if (response.data.loggedin === false) {
          //   currentObj.loginerror = response.data.message;
          //   currentObj.loading = false;
          // }
          // else {
          //   console.log('goodtogo');
          //   currentObj.loginerror = '';
          //   //var userRole = response.data.roles[0];
          //   //if (userRole === "administrator") {
          //   //  document.location.href = '/wp-admin';
          //   //} else {
          //     document.location.href = '/dashboard';
          //   //}
          // }
        })
        .catch(function (error) {
          
        });
      },

      update_password(e) {
        var vm = this;
        e.preventDefault();
        console.log('initializing password');
        let currentObj = this;        
        
        // ERROR: EMPTY FIELDS
        if ( (this.password.newpass === '') || (this.password.confpass === '') ) {
          this.password.passmsg = 'Error: Please Fill All Fields';
          jQuery('#statuspasswrap div#passmsg').slideDown(500).delay(3000).slideUp(500, function(){});

        // ERROR: NEW PASSWORD MISMATCH
        } else if ( this.password.newpass != this.password.confpass )  {
          this.password.passmsg = 'Error: Password Mismatch';
          jQuery('#statuspasswrap div#passmsg').slideDown(500).delay(3000).slideUp(500, function(){});

        // SUCCESSFUL MATCH
        } else if (this.password.newpass == this.password.confpass) {
          console.log('passwords match');

          var params = new FormData();
          currentObj.loading = true;
          params.append('action', 'tajax_set_password');
          //params.append('action', 'tajax_login_auto'); // works a second time
          params.append('username', this.$route.query.username);
          //console.log('Pass: ' + this.password.newpass); // works
          params.append('password', this.password.newpass);
          axios.post('/wp-admin/admin-ajax.php', params)
          .then(function (response) {
            
            // SUCCESSFUL AJAX CALL
            //if (response) {
              //console.log(response.data);
              
              //currentObj.loading = false;

              // ERROR: INCORRECT CURRENT PASSWORD
              if ( response.data.password == "failed" ) {

                currentObj.password.passmsg = 'There has been an error initializing this password for your user';
                jQuery('#statuspasswrap div#passmsg').slideDown(500).delay(3000).slideUp(500, function(){});
              
              // SUCCESS: PASSWORD UPDATED
              } else if ( response.data.password == "success" ) {

                currentObj.statuspass = "New Password Active";
                currentObj.password.confmessage = 'New Password Active';
                jQuery('#statuspasswrap div#passchangesuccess').slideDown(500, function(){
                  setTimeout(function() {
                    console.log('password set, forwarding to detail');
                    //location.reload();
                    //location.href='/detail';

                    //router.push('/detail');
                    //this.$router.push('/detail');
                    currentObj.$router.push('/detail');
                    //router.push("/detail");
                  }, 3000); 
                });
                
              }
            //}
          })
          .catch(function (error) {
            currentObj.loading = false;

            console.table(error)
            currentObj.output = error;

            // ERROR MESSAGE
            currentObj.password.passmsg = 'Error: ' + error;
            jQuery('#statuspasswrap div#passmsg').slideDown(500).delay(3000).slideUp(500, function(){});
          });
        
        // OTHER ERROR
        } else {
          currentObj.loading = false;
          currentObj.password.passmsg = 'An unknown error has occured';
          jQuery('#statuspasswrap div#passmsg').slideDown(500).delay(3000).slideUp(500, function(){});
        }
      }
    },
    created() {
      var vm = this;
      setBodyClasses();
      document.addEventListener('keyup', function (evt) {
        if (evt.keyCode === 13) {
          //vm.update_password(evt);

        }
      });
    },
    asyncData() {
      return { renderedOn: process.client ? 'client' : 'server' }
    }
  };
</script>
<style>
#loading {
  min-height: 200px;
  display: flex;
  align-items: center;
}

.el-loading-spinner .path {
  stroke: #66615b !important;
}

.el-loading-mask {
  background: rgba(255,255,255,0.5) !important;
}

.usernameBlock {
  background-color: #8080803d;
  border-radius: 10px;
  padding: 10px;
}
#statuspasswrap{
  padding: 10px;
}
.done {
  text-decoration: line-through;
}
.alert-success {
  background-image: linear-gradient(310deg,#2dce89,#26adab);
  margin-bottom: 0 !important;
}
.alert-danger {
  background-image: linear-gradient(310deg,#f5365c,#f3410f);
  margin-bottom: 0 !important;
}
.alert-success .alert-icon, .alert-danger .alert-icon {
  display: none !important;
}
</style>

