<template>
  <base-nav container-classes="container-fluid" class="navbar-top border-bottom navbar-expand">
    
    <!-- Company Name -->
    <ul class="navbar-nav align-items-center ml-0">
      <li class="nav-item">
        <h1 class="company-name mb-0">{{user.company}}</h1>
      </li>
    </ul>

    <!-- ACCOUNT -->
    <ul class="navbar-nav align-items-center ml-auto">
      <!-- Sidenav toggler -->
      <li class="nav-item d-xl-none">
        <div class="sidenav-toggler" :class="{active: $sidebar.showSidebar, 'sidenav-toggler-dark': type === 'default', 'sidenav-toggler-light': type === 'light'}" @click="toggleSidebar">
          <div class="sidenav-toggler-inner">
            <i class="sidenav-toggler-line"></i>
            <i class="sidenav-toggler-line"></i>
            <i class="sidenav-toggler-line"></i>
          </div>
        </div>
      </li>
      <!-- account -->
      <li class="nav-item d-none d-xl-block">
        <div class="d-flex align-items-center">
          <!-- <span class="avatar avatar-sm rounded-circle" >
            <img alt="Image placeholder" :src="user.avatar">
          </span> -->

          <div>
            <div class="user-avatar mb-0" :style="{backgroundImage:`url(${user.avatar})`}" style="background-size: cover; background-position: center center; background-repeat: no-repeat; position: relative; padding-top: 100%; border-radius: 50%; width: 50px;"></div>
          </div>


          <div class="media-body ml-2 d-none d-lg-block">
            <h4 class="username mb-0">{{user.name}}</h4>
           <!-- <h6 class="company-name mb-0">{{user.company}}</h6> -->
           <h6 class="mb-0"><a href="/wp-login.php?action=logout">Log out</a> </h6>
          </div>
        </div>
      </li>
    </ul>

  </base-nav>
</template>
<script>
  import { CollapseTransition } from 'vue2-transitions';
  import BaseNav from '@/components/argon-core/Navbar/BaseNav.vue';
  import Modal from '@/components/argon-core/Modal.vue';

  export default {
    components: {
      CollapseTransition,
      BaseNav,
      Modal
    },
    props: {
      type: {
        type: String,
        default: 'default', // default|light
        description: 'Look of the dashboard navbar. Default (Green) or light (gray)'
      },
      // user: {
      //   type: Object,
      //   default: () => {
      //     return {
      //       name: wpData.userinfo.first_name + ' ' + wpData.userinfo.last_name,
      //       company: wpData.company_info.name,
      //       avatar: wpData.userinfo.profileimg,
      //     };
      //   },
      //   description: 'Information about the current user'
      // },
    },
    computed: {
      routeName() {
        const { name } = this.$route;
        return this.capitalizeFirstLetter(name);
      }
    },
    data() {
      return {
        activeNotifications: false,
        showMenu: false,
        searchModalVisible: false,
        searchQuery: '',
        wpData: {
          "userinfo":{
            "first_name":false,
            "last_name":false,
            "profileimg":false,
            "company":false,
          },
          "company_info":{
            "name":false,
          },
        },
        user: {
          name:'',
          company:'',
          avatar:'',
        },
      };
    },
    mounted(){
      this.wpData = wpData;
      this.user = {
        name: this.wpData.userinfo.first_name + ' ' + this.wpData.userinfo.last_name,
        //company: this.wpData.company_info.name,
        company: this.wpData.userinfo.billing_company,
        avatar: this.wpData.userinfo.profileimg,
      }
    },
    methods: {
      capitalizeFirstLetter(string) {
        return string.charAt(0).toUpperCase() + string.slice(1);
      },
      toggleNotificationDropDown() {
        this.activeNotifications = !this.activeNotifications;
      },
      closeDropDown() {
        this.activeNotifications = false;
      },
      toggleSidebar() {
        this.$sidebar.displaySidebar(!this.$sidebar.showSidebar);
      },
      hideSidebar() {
        this.$sidebar.displaySidebar(false);
      }
    }
  };
</script>
