<template>
  <nav-bar>
    <template slot-scope="props" slot="links">
      <!-- <navbar-item :link="{ name: 'Services', path: '/pages/settings/subscriptions' }"></navbar-item> -->
      <navbar-item :link="{ name: 'Orders &amp; Renewals', path: '/pages/settings/orders' }"></navbar-item>
      <navbar-item :link="{ name: 'Account', path: '/pages/settings/account' }"></navbar-item>
      <!-- <navbar-item :link="{ name: 'Organization', path: '/pages/settings/company' }"></navbar-item> -->
      <!-- <navbar-item :link="{ name: 'Addresses', path: '/pages/settings/addresses' }"></navbar-item> -->
      <navbar-item :link="{ name: 'Payment Methods', path: '/pages/settings/payment-methods' }"></navbar-item>
    </template>
  </nav-bar>
</template>
<script>
  import { CollapseTransition } from 'vue2-transitions';
  import BaseNav from '@/components/argon-core/Navbar/BaseNav.vue';
  import Modal from '@/components/argon-core/Modal.vue';

  export default {
    components: {
      CollapseTransition,
      BaseNav,
      Modal
    },
    props: {
      type: {
        type: String,
        default: 'default', // default|light
        description: 'Look of the dashboard navbar. Default (Green) or light (gray)'
      },
    },
    computed: {
      routeName() {
        const { name } = this.$route;
        return this.capitalizeFirstLetter(name);
      }
    },
    data() {
      return {
        activeNotifications: false,
        showMenu: false,
        searchModalVisible: false,
        searchQuery: ''
      };
    },

  };
</script>
