<template>
  <side-bar>
    <template slot-scope="" slot="links">

      <sidebar-item :link="{ name: 'Dashboard', icon: 'ni ni-chart-bar-32', path: '/dashboard' }"></sidebar-item>
      <!-- <sidebar-item :link="{ name: 'Services', icon: 'ni ni-currency-exchange-2', path: '/pages/settings/subscriptions' }"></sidebar-item> -->
      <sidebar-item :link="{ name: 'Orders &amp; Renewals', icon: 'ni ni-archive-paper-2', path: '/pages/settings/orders' }"></sidebar-item>
      <sidebar-item :link="{ name: 'My Profile', icon: 'ni ni-single-01-2', path: '/pages/settings/account' }"></sidebar-item>
      <!-- <sidebar-item :link="{ name: 'Organization', icon: 'ni ni-multiple-11-2', path: '/pages/settings/company' }"></sidebar-item> -->
      <!-- <sidebar-item :link="{ name: 'Addresses', icon: 'ni ni-contacts', path: '/pages/settings/addresses' }"></sidebar-item> -->
      <sidebar-item :link="{ name: 'Payment Methods', icon: 'ni ni-credit-card-2', path: '/pages/settings/payment-methods' }"></sidebar-item>
      <!-- <li class="nav-item"><div class="collapse show" style="display: none;"><ul class="nav nav-sm flex-column"></ul></div> <a href="/wp-login.php?action=logout" class="nav-link"><i class="ni ni-log-out"></i> <span class="nav-link-text">Log Out</span></a></li> -->


      <!-- ARCHIVE -->
      <!-- <sidebar-item :link="{name: 'Archive', icon: 'ni ni-archive-2', path: '#'}">
        <sidebar-item :link="{ name: 'Login', icon: 'ni ni-shop text-primary', path: '/login' }"></sidebar-item>
        
        <sidebar-item :link="{ name: 'Onboarding', icon: 'ni ni-shop text-primary', path: '/onboard' }"></sidebar-item>

        <sidebar-item :link="{name: 'Dashboards', icon: 'ni ni-shop text-primary', }">
          <sidebar-item :link="{ name: 'Dashboard', path: '/dashboard' }"></sidebar-item>
          <sidebar-item :link="{ name: 'Alternative', path: '/alternative' }"></sidebar-item>
        </sidebar-item>

        <sidebar-item :link="{name: 'Examples', icon: 'ni ni-ungroup text-orange'}">
          <sidebar-item :link="{ name: 'Pricing', path: '/pricing' }"/>
          <sidebar-item :link="{ name: 'Login', path: '/login' }"/>
          <sidebar-item :link="{ name: 'Register', path: '/register' }"/>
          <sidebar-item :link="{ name: 'Lock', path: '/lock' }"/>
          <sidebar-item :link="{ name: 'Timeline', path: '/pages/timeline' }"/>
          <sidebar-item :link="{ name: 'Profile', path: '/pages/user' }"/>
        </sidebar-item>

        <sidebar-item :link="{name: 'Components', icon: 'ni ni-ui-04 text-info'}">
          <sidebar-item :link="{ name: 'Buttons', path: '/components/buttons' }"/>
          <sidebar-item :link="{ name: 'Cards', path: '/components/cards' }"/>
          <sidebar-item :link="{ name: 'Grid', path: '/components/grid-system' }"/>
          <sidebar-item :link="{ name: 'Notifications', path: '/components/notifications' }"/>
          <sidebar-item :link="{ name: 'Icons', path: '/components/icons' }"/>
          <sidebar-item :link="{ name: 'Typography', path: '/components/typography' }"/>

          <sidebar-item :link="{ name: 'Multi Level' }">
            <sidebar-item :link="{ name: 'Third level menu', path:'#' }"/>
            <sidebar-item :link="{ name: 'Just another link', path:'#' }"/>
            <sidebar-item :link="{ name: 'One last link', path:'#' }"/>
          </sidebar-item>
        </sidebar-item>

        <sidebar-item :link="{name: 'Forms', icon: 'ni ni-single-copy-04 text-pink'}">
          <sidebar-item :link="{ name: 'Elements', path: '/forms/elements' }"/>
          <sidebar-item :link="{ name: 'Components', path: '/forms/components' }"/>
          <sidebar-item :link="{ name: 'Validation', path: '/forms/validation' }"/>
        </sidebar-item>

        <sidebar-item :link="{name: 'Tables', icon: 'ni ni-align-left-2 text-default'}">
          <sidebar-item :link="{ name: 'Tables', path: '/tables/regular' }"/>
          <sidebar-item :link="{ name: 'Sortable', path: '/tables/sortable' }"/>
          <sidebar-item :link="{ name: 'Paginated Tables', path: '/tables/paginated' }"/>
        </sidebar-item>

        <sidebar-item :link="{name: 'Maps', icon: 'ni ni-map-big text-primary'}">
          <sidebar-item :link="{ name: 'Google', path: '/maps/google' }"/>
          <sidebar-item :link="{ name: 'Vector', path: '/maps/vector' }"/>
        </sidebar-item>

        <sidebar-item :link="{name: 'Widgets', icon: 'ni ni-archive-2 text-green', path: '/widgets'}"> </sidebar-item>
        <sidebar-item :link="{name: 'Charts', icon: 'ni ni-chart-pie-35 text-info', path: '/charts'}"> </sidebar-item>
        <sidebar-item :link="{name: 'Calendar', icon: 'ni ni-calendar-grid-58 text-red', path: '/calendar'}"> </sidebar-item>

        <sidebar-item :link="{name: 'Get Started', icon: 'ni ni-calendar-grid-58 text-red', path: 'https://demos.creative-tim.com/nuxt-argon-dashboard-pro/documentation'}"> </sidebar-item>
        <sidebar-item :link="{name: 'Foundation', icon: 'ni ni-calendar-grid-58 text-red', path: 'https://demos.creative-tim.com/nuxt-argon-dashboard-pro/documentation/foundation/colors.html'}"> </sidebar-item>
        <sidebar-item :link="{name: 'Components', icon: 'ni ni-calendar-grid-58 text-red', path: 'https://demos.creative-tim.com/nuxt-argon-dashboard-pro/documentation/components/avatars.html'}"> </sidebar-item>
        <sidebar-item :link="{name: 'Plugins', icon: 'ni ni-calendar-grid-58 text-red', path: 'https://demos.creative-tim.com/nuxt-argon-dashboard-pro/documentation/components/plugin_datepicker.html'}"> </sidebar-item>
      </sidebar-item>-->
    </template>

    <!-- <template slot="links-after"> -->
      <!-- <hr class="my-3">

      <ul class="navbar-nav mb-md-3">
        <li class="nav-item dropdown">
          <div class="nav-link pr-0">
            <div class="media align-items-center">
              <span class="avatar avatar-sm rounded-circle">
                <img alt="Image placeholder" src="/wp-content/themes/midas-dashboard/assets/images/alex-read-portrait.png">
              </span>
              <div class="media-body ml-2 d-none d-lg-block">
                <h4 class="username mb-0 text-white">Account Manager</h4>
                <h6 class="company-name mb-0 text-muted">Your Team Manager</h6>
              </div>
            </div>
          </div>

          <div class="nav-link pr-0 pt-0">
            <div class="media align-items-center">
              <span class="avatar avatar-sm rounded-circle" style="opacity:0;">
                <img alt="Image placeholder" src="/wp-content/themes/midas-dashboard/assets/images/alex-read-portrait.png">
              </span>
              <div class="media-body ml-2 d-none d-lg-block">
                <h6 class="mb-0 text-white"><a href="#">Chat now</a></h6>
                <h6 class="mb-0 text-white"><a href="#">Send an email</a></h6>
                <h6 class="mb-0 text-white"><a href="#">Book a call</a></h6>
              </div>
            </div>
          </div>
        </li>
      </ul> -->
    <!-- </template> -->
    
  </side-bar>
</template>
<script>
  import { CollapseTransition } from 'vue2-transitions';
  import BaseNav from '@/components/argon-core/Navbar/BaseNav.vue';
  import Modal from '@/components/argon-core/Modal.vue';

  export default {
    components: {
      CollapseTransition,
      BaseNav,
      Modal
    },
    props: {
      type: {
        type: String,
        default: 'default', // default|light
        description: 'Look of the dashboard navbar. Default (Green) or light (gray)'
      },
      user: {
        type: Object,
        default: () => {
          return {
            name: 'Account Username',
            company: 'Company Name',
            avatar: 'img/theme/team-4.jpg',
          };
        },
        description: 'Information about the current user'
      }
    },
    computed: {
      routeName() {
        const { name } = this.$route;
        return this.capitalizeFirstLetter(name);
      }
    },
    data() {
      return {
        activeNotifications: false,
        showMenu: false,
        searchModalVisible: false,
        searchQuery: ''
      };
    },
    methods: {
      capitalizeFirstLetter(string) {
        return string.charAt(0).toUpperCase() + string.slice(1);
      },
      toggleNotificationDropDown() {
        this.activeNotifications = !this.activeNotifications;
      },
      closeDropDown() {
        this.activeNotifications = false;
      },
      toggleSidebar() {
        this.$sidebar.displaySidebar(!this.$sidebar.showSidebar);
      },
      hideSidebar() {
        this.$sidebar.displaySidebar(false);
      }
    }
  };
</script>
