<template>
  <card>
    <div slot="header" class="row align-items-center">
      <div class="col">
        <h3 class="mb-0">Billing Address</h3>
        <p v-if="statusbill" class="mb-0"><small id="statusprof" style="color:#4ad2a0 !important;">{{statusbill}}</small></p>
      </div>
    </div>

    <form>
      <div class="row">
        <div class="col-lg-6">
          <base-input type="text" id="first-name" label="First Name" placeholder="First Name"  v-model="billingFirstName"></base-input><!-- v-on:input="user.billingFirstName = $event" -->
        </div>
        <div class="col-lg-6">
          <base-input type="text" id="last-name" label="Last Name" placeholder="Last Name" v-model="billingLastName"></base-input>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <base-input type="text" id="company" label="Company" placeholder="Company" v-model="billingCompany"></base-input>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <base-input type="text" id="address1" label="Address 1" placeholder="Address1" v-model="billingAddress1"></base-input>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8">
          <base-input type="text" id="address2" label="Address 2" placeholder="Address 2" v-model="billingAddress2"></base-input>
        </div>
        <div class="col-lg-4">
          <base-input type="text" id="country" label="Country" placeholder="Country" v-model="billingCountry"></base-input>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <base-input type="text" id="city" label="City" placeholder="City" v-model="billingCity"></base-input>
        </div>
        <div class="col-lg-4">
          <base-input type="text" id="state" label="State" placeholder="State" v-model="billingState"></base-input>
        </div>
        <div class="col-lg-4">
          <base-input type="text" id="zip" label="Zip Code" placeholder="Zip Code" v-model="billingZip"></base-input>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <base-input type="text" id="email" label="Email Address" placeholder="Email Address" v-model="billingEmail"></base-input>
        </div>
        <div class="col-lg-6">
          <base-input type="text" id="phone" label="Phone Number" placeholder="Phone Number" v-model="billingPhone"></base-input>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-lg-12">
          <base-checkbox v-model="user.billingDefaultAddress">Update the Billing Address used for all of my active subscriptions (optional)</base-checkbox>
        </div>
      </div> -->
    </form>
    <div class="text-right">
       <button v-on:click="update_billing" class="btn btn-dark">Save</button>
    </div>
  </card>
</template>

<script>

import { mapMutations } from 'vuex'
//import { useRouter } from 'vue-router'
import axios from 'axios';
import { Loading } from 'element-ui';
import { LoadingPanel } from '@/components/argon-core';
import {Select, Option} from 'element-ui' // this is confusing, simple google won't do it, need specific doc here: https://demos.creative-tim.com/nuxt-argon-dashboard-pro/documentation/plugins/select.html#single-select
import globalMixin from "../../../mixins/global.js";

export default {
  components: {
    [Select.name]: Select,
    [Option.name]: Option
  },

  setup() {
    const router = userRouter();
  },

  data() {
    return {
      selects: {
        simple: '',
        countries: [
          {value: 'US', label: 'United States'},
          {value: 'MX', label: 'Mexico'},
          {value: 'CA', label: 'Canada'},
        ],
        billingStates: [],
        // shippingcountries: [
        //   {value: 'US', label: 'United States'},
        //   {value: 'MX', label: 'Mexico'},
        //   {value: 'CA', label: 'Canada'},
        // ],
        shippingStates: []
      },
      loading: false,
  
      billingCompany: this.$store.state.user.billingCompany,

      billingFirstName: this.$store.state.user.billingFirstName,
      billingLastName: this.$store.state.user.billingLastName,
      
      billingAddress1: this.$store.state.user.billingAddress1,
      billingAddress2: this.$store.state.user.billingAddress2,

      billingCity: this.$store.state.user.billingCity,
      billingState: this.$store.state.user.billingState,
      billingCountry: this.$store.state.user.billingCountry,
      billingZip: this.$store.state.user.billingZip,

      billingEmail: this.$store.state.user.billingEmail,
      billingPhone: this.$store.state.user.billingPhone,

      qwilr: this.$store.state.user.qwilr,

      statusbill: '',
      formErrors: false,
      password: {
        confmessage: '',
        passmsg: ''
      }
    };
  }, //end of data

  mixins: [globalMixin],
  
  async mounted() {
    console.log('BillingAddress.vue mounted');
  
    // if(this.$store.state.user.billingFirstName){
    //   console.log('we have a populated store already');
    // }else{
    //   if(wpData.userinfo.billingFirstName){
    //     console.log('logged in');
    //     this.$store.commit('user/add', wpData.userinfo);
    //   }else{
    //     console.log('not logged in');
    //     this.$router.push({ name: 'login' })
    //   }
    // }      
    let userLoaded = this.authenticateMixin();

    this.billingCompany = this.$store.state.user.billingCompany;

    this.billingFirstName = this.$store.state.user.billingFirstName;
    this.billingLastName = this.$store.state.user.billingLastName;

    this.billingAddress1 = this.$store.state.user.billingAddress1;
    this.billingAddress2 = (this.$store.state.user.billingAddress2 != 'undefined') ? this.$store.state.user.billingAddress2: '';
    
    this.billingCity = this.$store.state.user.billingCity;
    this.billingState = this.$store.state.user.billingState;
    this.billingCountry = this.$store.state.user.billingCountry;
    this.billingZip = this.$store.state.user.billingZip;

    this.billingEmail = this.$store.state.user.billingEmail;
    this.billingPhone = this.$store.state.user.billingPhone;
  },

  methods: {
      update_billing(e) {
        
        var holdStore = this;

        e.preventDefault();
        // alert('Your data: ' + JSON.stringify(this.user));
          console.log(this.user);
          let currentObj = this;
          var params = new FormData();
          params.append('action', 'flyrise_update_address_for_orders');
          
          params.append('billing_company', this.billingCompany);

          params.append('billing_first_name', this.billingFirstName);
          params.append('billing_last_name', this.billingLastName);
          
          params.append('billing_address_1', this.billingAddress1);
          params.append('billing_address_2', this.billingAddress2);

          params.append('billing_city', this.billingCity);
          params.append('billing_state', this.billingState);
          params.append('billing_country', this.billingCountry);
          params.append('billing_postcode', this.billingZip);
          
          params.append('billing_email', this.billingEmail);
          params.append('billing_phone', this.billingPhone);

          console.log(params);
          axios.post('/wp-admin/admin-ajax.php', params)
    
          .then(function (response) {
            currentObj.statusbill = 'Billing Address Updated Successfully';
            //document.location.href = document.location.href
            console.log(response.data);

            holdStore.$store.commit('user/update', {id: 'billingCompany', value: holdStore.billingCompany});
            holdStore.$store.commit('user/update', {id: 'billingFirstName', value: holdStore.billingFirstName});
            holdStore.$store.commit('user/update', {id: 'billingLastName', value: holdStore.billingLastName});
            holdStore.$store.commit('user/update', {id: 'billingAddress1', value: holdStore.billingAddress1});
            holdStore.$store.commit('user/update', {id: 'billingAddress2', value: holdStore.billingAddress2});
            holdStore.$store.commit('user/update', {id: 'billingCity', value: holdStore.billingCity});
            holdStore.$store.commit('user/update', {id: 'billingState', value: holdStore.billingState});
            holdStore.$store.commit('user/update', {id: 'billingCountry', value: holdStore.billingCountry});
            holdStore.$store.commit('user/update', {id: 'billingZip', value: holdStore.billingZip});
            holdStore.$store.commit('user/update', {id: 'billingEmail', value: holdStore.billingEmail});
            holdStore.$store.commit('user/update', {id: 'billingPhone', value: holdStore.billingPhone});
          })
          .catch(function (error) {
            console.table(error)
              currentObj.output = error;
          });
      }
  }
};
</script>
<style></style>
