<template>
  <card>

    <!-- CARD HEADER -->
    <div slot="header" class="row align-items-center">
      <div class="col">
        <h3 class="mb-0">Change Password</h3>
        <p id="statuspasswrap" class="mt-0 mb-0 p-0">
          <span id="passchangesuccess" style="display: none;">
            <small id="statuspass" style="color: #4ad2a0 !important;">
              Password Updated Successfully. If you are not automatically redirected to the login page in 3 seconds, <a href="/login">click here</a>.
            </small>
          </span>

          <span id="passmsg" style="display: none;">
            <small id="statuspass" style="color: #ff0000 !important;"><span v-if="password.passmsg">{{password.passmsg}}</span></small>
          </span>
        </p>
      </div>
    </div>

    <!-- CARD BODY -->
    <p>After your password is reset you will be logged out and will have to use your new password to login.</p>
    <!-- <p v-if="statuspass" class="text-center"><small id="statusprof" style="color: #4ad2a0 !important;">{{statuspass}}</small></p> -->

    <form @submit.prevent="updateProfile" class="mb-0">
      <div class="row">
        <div id="changepasseditmodebtn" v-if="editpass == 0" class="col-12">
          <a id="passedit" href="#" v-if="editpass == 0" v-on:click.prevent v-on:click="editpass = 1;" class="btn btn-sm">Change Password</a>
        </div>
        <div id="changepassfields" v-if="editpass == 1" class="col-12">
          <base-input type="password" label="Current Password"  v-model="password.curpass" placeholder="Current Password"></base-input>
          <base-input type="password" label="New Password"  v-model="password.newpass" placeholder="New Password"></base-input>
          <base-input type="password" label="Confirm New Password"  v-model="password.confpass" placeholder="Confirm New Password"></base-input>
          <div class="text-right">
            <a href="#" v-on:click="update_password($event);" class="btn btn-dark">Save</a>
          </div>
          
        </div>
      </div>
    </form>
  </card>
</template>
<script>
import axios from 'axios';
export default {
  data() {
    return {
      password: {
        newpass: '',
        confpass: '',
        curpass: '',
        confmessage: '',
        passmsg: ''
      },
      statuspass: '',
      editpass: 0,
      user: {
        company: 'Creative Code Inc.',
        username: 'michael23',
        email: 'mike@mike.com',
        firstName: 'Mike',
        lastName: 'Andrew',
        address: 'Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09',
        city: 'New York',
        country: 'USA',
        postalCode: '',
        aboutMe: 'Lamborghini Mercy, Your chick she so thirsty, Im in that two seat Lambo.',
        userAvatar: '/wp-content/themes/midas-dashboard/assets/images/alex-read-portrait.png'
      }
    };
  },
  methods: {
    updateProfile() {
      alert('Your data: ' + JSON.stringify(this.user));
    },

    // use v-on:click showform($event)
    // showform(e) {
    //   e.preventDefault();
    //   this.editpass = 1;
    //   var vm = this;
    //   setTimeout(function() {
    //     jQuery('#changepassfields').slideDown(1000);
    //   }, 100); 
    // },

    update_password(e) {
      e.preventDefault();
      //  alert('Your data: ' + JSON.stringify(this.user));

      // ERROR: EMPTY FIELDS
      if ( (this.password.curpass === '') || (this.password.newpass === '') || (this.password.confpass === '') ) {
        this.password.passmsg = 'Error: Please Fill All Fields';
        jQuery('#statuspasswrap span#passmsg').delay(50).slideDown(500).delay(3000).slideUp(500, function(){});

      // ERROR: NEW PASSWORD MISMATCH
      } else if ( this.password.newpass != this.password.confpass )  {
        this.password.passmsg = 'Password Mismatch';
        jQuery('#statuspasswrap span#passmsg').slideDown(500).delay(3000).slideUp(500, function(){});

      // SUCCESSFUL MATCH
      } else if (this.password.newpass == this.password.confpass) {
        console.log(this.user);
        let currentObj = this;
        var params = new FormData();
        params.append('action', 'flyrise_update_password');
        params.append('curpass', this.password.curpass);
        params.append('newpass', this.password.newpass);
        console.log(params);
        axios.post('/wp-admin/admin-ajax.php', params)
        .then(function (response) {
          
          // SUCCESSFUL AJAX CALL
          if (response) {
            console.log(response);

            // ERROR: INCORRECT CURRENT PASSWORD
            if ( response.data == "Current Password Incorrect" ) {
              currentObj.password.passmsg = 'Current Password Incorrect';
              jQuery('#statuspasswrap span#passmsg').slideDown(500).delay(3000).slideUp(500, function(){});
            
            // SUCCESS: PASSWORD UPDATED
            } else if ( response.data == "Password Updated Successfully" ) {
              currentObj.statuspass = "Password Updated Successfully";
              currentObj.password.confmessage = 'Password Updated Successfully.';
              jQuery('#statuspasswrap span#passchangesuccess').slideDown(500, function(){
                //alert('change password success function firing');
                setTimeout(function() {
                  //location.reload();
                  location.href='/login';
                }, 3000); 
              });

            }
          }
        })
        .catch(function (error) {
          console.table(error)
          currentObj.output = error;

          // ERROR MESSAGE
          currentObj.password.passmsg = 'Error: ' + error;
          jQuery('#statuspasswrap span#passmsg').slideDown(500).delay(3000).slideUp(500, function(){});
        });
      
      // OTHER ERROR
      } else {
        currentObj.password.passmsg = 'An unknown error has occured';
        jQuery('#statuspasswrap span#passmsg').slideDown(500).delay(3000).slideUp(500, function(){});
      }
    }

  }
};

</script>
