<template>

  <card>
    <!-- CARD HEADER -->
    <div slot="header" class="row align-items-center">
      <div class="col text-right">
        <h3 class="mb-0" style="display: inline-block; float: left;">Users</h3>
        <!-- <a href="#" v-if="editusers == 0 && addusers == 0" v-on:click="editusers = 1;" class="btn btn-sm">Edit</a>
        <a href="#" v-if="addusers == 0 && editusers == 0" v-on:click="addusers = 1;" class="btn btn-sm">Add</a>
        <a href="#" v-if="editusers == 1" v-on:click="editusers = 0;" class="btn btn-sm">Save</a>
        <a href="#" v-if="addusers == 1" v-on:click="addusers = 0;" class="btn btn-sm">Save</a> -->
      </div>
    </div>
    
    <!-- // DEFAULT VIEW -->
    <el-table v-if="editusers == 0" class="no-outside-column-padding no-bottom-row-border" header-row-class-name="thead-light" :data="wpData.compusers">
      <el-table-column label="Name" min-width="125px" prop="name">
        <template v-slot="{row}">
          <div>
            <span>{{row.name}}</span>
          </div>
        </template>
      </el-table-column>
      
      <el-table-column label="Email" min-width="250px" prop="email">
        <template v-slot="{row}">
          <div>
            <span>{{row.email}}</span>
          </div>
        </template>
      </el-table-column>
      
      <el-table-column label="Role" min-width="80px" prop="role">
        <template v-slot="{row}">
          <div>
            <span>{{row.role}}</span>
          </div>
        </template>
      </el-table-column>
    </el-table>

    <!-- // EDIT VIEW -->
    <el-table v-if="editusers == 1" class="no-outside-column-padding no-bottom-row-border" header-row-class-name="thead-light" :data="wpData.compusers">
      <el-table-column label="Name" min-width="125px" prop="name">
        <template v-slot="{row}">
          <div>
            <span>{{row.name}}</span>
          </div>
        </template>
      </el-table-column>
      
      <el-table-column label="Email" min-width="250px" prop="email">
        <template v-slot="{row}">
          <div>
            <span>{{row.email}}</span>
          </div>
        </template>
      </el-table-column>
      
      <el-table-column label="Role" min-width="80px" prop="role">
        <template v-slot="{row}">
          <div>
            <span>{{row.role}}</span>
          </div>
        </template>
      </el-table-column>

      <el-table-column label="Actions" min-width="100px" prop="">
        <template>
          <div>
            <span><a href="#" class="btn btn-sm btn-solid">Delete</a></span>
          </div>
        </template>
      </el-table-column>
    </el-table>

    <!-- // ADD VIEW -->
  </card>


</template>
<script>

  import tableData from './demo-data/company-users'
  import { Table, TableColumn, DropdownMenu, DropdownItem, Dropdown} from 'element-ui'
  export default {
    name: 'light-table',
    components: {
      [Table.name]: Table,
      [TableColumn.name]: TableColumn,
      [Dropdown.name]: Dropdown,
      [DropdownItem.name]: DropdownItem,
      [DropdownMenu.name]: DropdownMenu,
    },
    data() {
      return {
        tableData,
        currentPage: 1,
        wpData : {},
        compemp: null,
        editusers: 0,
        addusers: 0
      };
    },
    mounted() {
      this.wpData = wpData;
      console.table(wpData.compusers);
    }
  }
</script>
