<template>
  <card>

    <!-- CARD HEADER -->
    <div slot="header" class="row align-items-center">
      <div class="col">
        <h3 class="mb-0">Company</h3>
        <p id="statuscompwrap" class="mt-0 mb-0">
          <span id="compchangesuccess" style="display: none;">
            <small id="statuscomp" style="color: #4ad2a0 !important;">Profile Updated Successfully</small>
          </span>
        </p>
        <p id="statuscompimgwrap" class="mt-0 mb-0">
          <span id="compimgchangesuccess" style="display: none;">
            <small id="statuscompimg" style="color: #4ad2a0 !important;">Image Updated Succesfully!</small>
          </span>
          <span id="compimgchangefail" style="display: none;">
            <small id="statuscompimg" style="color: #ff0000 !important;">Image Upload Failed</small>
          </span>
        </p>
      </div>
    </div>

    <!-- CARD BODY -->
    <form @submit.prevent="updateProfile" class="mb-0">
      <div class="row align-items-center">
        
        <!-- AVATAR -->
        <div v-bind:class="{ 'align-self-start': editcompinfo == 1}" class="col-12 col-lg-4">
          <div class="user-avatar mb-0" :style="{backgroundImage:`url(${company.logo})`}" style="background-size: cover; background-position: center center; background-repeat: no-repeat; position: relative; padding-top: 100%; border-radius: 50%;"></div>
          <div v-if="editcompinfo == 1" class="profile-upload-cont mt-3">
            <input @change="onFileChange" type="file" id="file" ref="file" style="display: none;" />
            <p class="text-center"><a v-on:click.prevent @click='uploadFile()' class="btn btn-dark btn-sm" href="#">Update Image</a></p>
          </div>
        </div>

        <!-- COMPANY INFO -->
        <div v-if="editcompinfo == 0" class="col-12 col-lg-8 mt-3 mt-lg-0 text-center text-lg-left">
          <h2 class="mb-0">{{company.name}}</h2>
          <p class="mb-0">{{company.address1}}</p>
          <p v-if="company.address2" class="mb-0">{{company.address2}}</p>
          <p class="mb-2">{{company.city}}, {{company.state}} {{company.zip}}</p>
          <a href="#" v-if="editcompinfo == 0" v-on:click.prevent v-on:click="editcompinfo = 1;" class="btn btn-sm">Edit</a>
        </div>

        <div v-if="editcompinfo == 1" class="col-12 col-lg-8">
          <form action="" class="mb-0">
            <base-input type="text" label="Company Name" placeholder="Company Name" v-model="company.name"></base-input>
            <base-input type="text" label="Company Address 1" placeholder="Company Address 1" v-model="company.address1"></base-input>
            <base-input type="text" label="Company Address 2" placeholder="Company Address 2" v-model="company.address2"></base-input>
            <base-input type="text" label="Company City" placeholder="Company City" v-model="company.city"></base-input>
            <base-input type="text" label="Company State" placeholder="Company State" v-model="company.state"></base-input>
            <base-input type="text" label="Company Zip" placeholder="Company Zip" v-model="company.zip"></base-input>
            <div class="text-right">
              <a href="#" v-on:click="update_account($event);" class="btn btn-dark">Save</a>
            </div>
          </form>
        </div>
      </div>
    </form>

  </card>
</template>
<script>
import axios from 'axios';
import { Dropdown, DropdownItem, DropdownMenu, Table, TableColumn } from 'element-ui';

export default {
  data() {
    return {
      wpData : {},
      company: {
        name: '',
        address1: '',
        address2: '',
        city: '',
        state: '',
        zip: '',
        logo: '',
        id: 0
      },
      file : '',
      imgstatus : '',
      statusprof: '',
      editcompinfo: 0,
    };
  },
  async mounted() {
    this.wpData = wpData;
    this.company = {
      name: wpData.company_info.name,
      address1: wpData.company_info.address1,
      address2: wpData.company_info.address2,
      city: wpData.company_info.city,
      state: wpData.company_info.state,
      zip: wpData.company_info.zip,
      logo: wpData.company_info.image,
      id: wpData.company_info.id
    };
  },
  methods: {
    updateProfile() {
      alert('Your data: ' + JSON.stringify(this.company));
    },

    // ROBERT: MAKE THIS METHOD WORK WITH THE COMPANY FEATURED IMAGE - IT'S CURRENTLY UPDATING THE USER IMAGE.
    // I CURRENTLY HAVE THE PAGE REFRESH AFTER THE PROMISE RESPONSE SET TO BE DISABLED - LETS LEAVE IT DISABLED FOR NOW.

    onFileChange(e) {
      var vm = this;
      const file = e.target.files[0];
      this.company.logo = URL.createObjectURL(file);
      this.file = this.$refs.file.files[0];
      var imgstatusm = "Image Updated Succesfully!";
      let formData = new FormData();
      formData.append('file', this.file);
      formData.append('action', 'company_support_save');
      formData.append('compid', vm.company.id);
      axios.post('/wp-admin/admin-ajax.php', formData,
      {
        headers: {
          'Content-Type': 'multipart/form-data'
        }
      })
      .then(function (response) {

        // IMG FAIL
        if (!response.data) {
          vm.imgstatus = "Image Upload Failed";
          jQuery('#statuscompimgwrap span#compimgchangefail').slideDown(500).delay(3000).slideUp(500, function(){
            vm.imgstatus = null;
            // location.reload();
          });

        // IMG SUCCESS
        } else {
          vm.imgstatus = "Image Updated Succesfully!";
          jQuery('#statuscompimgwrap span#compimgchangesuccess').slideDown(500).delay(3000).slideUp(500, function(){
            vm.imgstatus = null;
            // location.reload();
          });
        }

      })
      .catch(function (error) {
        console.log(error);
      });
    },

    uploadFile: function(){
      this.$refs.file.click();
    },

    // ROBERT: MAKE THIS WORK BY SAVING THE CORRECT META FOR THE COMPANY
    // I CURRENTLY HAVE THE PAGE REFRESH AFTER THE PROMISE RESPONSE SET TO BE DISABLED - LETS LEAVE IT DISABLED FOR NOW.

    update_account(e) {
      var vm = this;
      e.preventDefault();
      console.log(this.company);
      let currentObj = this;
      var params = new FormData();
       params.append('action', 'flyrise_update_company');
       params.append('name', this.company);
       params.append('address1', this.company.address1);
       params.append('address2', this.company.address2);
       params.append('city', this.company.city);
       params.append('state', this.company.state);
       params.append('zip', this.company.zip);
      console.log(params);
      axios.post('/wp-admin/admin-ajax.php', params)
      .then(function (response) {
        
        // SUCCESS
        if (response) {
          vm.statusprof = "Profile Updated Successfully";
          jQuery('#statuscompwrap span#compchangesuccess').slideDown(500).delay(3000).slideUp(500, function(){
            vm.statusprof = null;
            currentObj.editcompinfo = 0;
            // location.reload();
          });
        }
      })
      .catch(function (error) {
        console.table(error)
        currentObj.output = error;
      });
    },
  }

};
</script>