<template>
  <company-users-table></company-users-table>
</template>
<script>
import { Dropdown, DropdownItem, DropdownMenu, Table, TableColumn } from 'element-ui';
import CompanyUsersTable from '~/components/pages/settings/CompanyUsersTable.vue';

export default {
  data() {
    return {
      editusers: 0,
      addusers: 0
    };
  },
  methods: {
    updateProfile() {
      alert('Your data: ' + JSON.stringify(this.company));
    }
  },
  components: {
    CompanyUsersTable,
    [Dropdown.name]: Dropdown,
    [DropdownItem.name]: DropdownItem,
    [DropdownMenu.name]: DropdownMenu,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn
  }
};
</script>