<template>
  <card>
    <div slot="header" class="row align-items-center">
      <div class="col-8">
        <h3 class="mb-0">Add New Payment Method</h3>
      </div>
      <div class="col-4 text-right">
        <!-- <a href="#!" class="btn btn-sm btn-primary">Settings</a> -->
      </div>
    </div>

    <form @submit.prevent="addNewCard">
      <div class="row">
        <div class="col-lg-12">
          <base-input type="text" label="Card Number" placeholder="Card Number" v-model="card.cardNumber"></base-input>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <base-input type="text" label="Expiration" placeholder="Expiration" v-model="card.cardExpiration"></base-input>
        </div>
        <div class="col-lg-6">
          <base-input type="text" label="CVC" placeholder="CVC" v-model="card.cardCVC"></base-input>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <base-checkbox v-model="card.cardDefault">
            Update the Billing Address used for all of my active subscriptions (optional)
          </base-checkbox>
        </div>
      </div>
    </form>
    <div class="text-right">
      <a href="#" class="btn btn-dark woocommerce-Button woocommerce-Button--alt button alt">Save</a>
    </div>
     <div v-html="wpData.payment_form">
      </div>
  </card>
  
</template>
<script>
export default {
  data() {
    return {
      card: {
        cardNumber: '',
        cardExpiration: '',
        cardCVC: '',
        cardDefault: true
      },
      wpData: {}
    };
  },
  mounted(){
    this.wpData = wpData
  },
  methods: {
    addNewCard() {
      alert('Your data: ' + JSON.stringify(this.user));
    }
  }
};
</script>
<style></style>
