<template>

  <!-- LOGIN OR RESET PW -->
  <div id="loginCard" class="card ds-default">
    
    <div class="card-body">

      <form class="mb-0">
        <div id="accountdetailspage" v-loading="loading">

          <div class="row">
            <div class="col">
              <h3 class="text-left">General Info</h3>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <base-input @change="update_field($event)" type="text" id="billingFirstName" label="First Name" placeholder="First Name"  v-model="billingFirstName" labelFor="billingFirstName"></base-input>
            </div>
            <div class="col"><base-input @change="update_field($event)" type="text" id="billingLastName" label="Last Name" placeholder="Last Name" v-model="billingLastName" labelFor="billingLastName"></base-input></div>
          </div>

          <div class="row">
            <div class="col">
              <base-input @change="update_field($event)" type="text" id="billingEmail" label="Email Address" placeholder="Email Address" v-model="billingEmail" labelFor="billingEmail"></base-input>
            </div>
            <div class="col">
              <base-input @change="update_field($event)" type="text" id="phone" label="Phone Number" placeholder="Phone Number" v-model="billingPhone" labelFor="phone"></base-input>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <h3 class="text-left">Billing Address</h3>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <base-input @change="update_field($event)" type="text" id="billing_address1" label="Billing Address 1" placeholder="Line 1" v-model="billingAddress1" labelFor="billing_address1"></base-input>
              <base-input @change="update_field($event)" type="text" id="billing_address2" label="Billing Address 2" placeholder="Line 2" v-model="billingAddress2" labelFor="billing_address2"></base-input>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <base-input label="Billing Country" rules="required" name="Billing Country" labelFor="billing_country" class="contains-select">
                <el-select class="select-default" id="billing_country" placeholder="Billing Country" v-model="billingCountry" @change="get_states(billingCountry, 'billing')">
                  <el-option v-for="option in selects.countries" class="select-default" :value="option.value" :label="option.label" :key="option.label"></el-option>
                </el-select>
              </base-input>
            </div>
            <div class="col">
              <base-input @change="update_field($event)" type="text" id="billing_city" label="Billing City" placeholder="City" v-model="billingCity" labelFor="billing_city"></base-input>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <base-input @change="update_field($event)" type="text" id="billing_state" label="Billing State" rules="required" placeholder="State" labelFor="billing_state"  class="contains-select">
                <el-select
                  class="select-default"
                  collapse-tags
                  v-model="billingState"
                  placeholder="State (select Country first)">
                  <el-option
                    v-for="option in selects.billingStates"
                    class="select-default"
                    :value="option.value"
                    :label="option.label"
                    :key="option.label">
                  </el-option>
                </el-select>
              </base-input>
            </div>
            <div class="col">
              <base-input @change="update_field($event)" type="text" id="billing_zip" label="Billing Zip" placeholder="Zip Code" v-model="billingZip" labelFor="billing_zip"></base-input>
            </div>
          </div>

          <div class="row align-items-center">
            <div class="col">
              <h3 class="text-left">Shipping Address</h3>
            </div>

            <div class="col">
              <div class="form-check h4 text-right">
                <input :checked="copyChecked" @change="copy_billing($event)" class="form-check-input" type="checkbox" value="" id="cloneBillingDetails">
                <label class="form-check-label" for="cloneBillingDetails">Copy Billing Details</label>
              </div>
            </div>
          </div>

          <div id="detailShippingDetails" style="display:none;">
            <div class="row">
              <div class="col">
                <base-input @change="update_field($event)" type="text" id="shippig_address1" label="Shipping Address 1" placeholder="Line 1" v-model="shippingAddress1" labelFor="shippig_address1"></base-input>
                <base-input @change="update_field($event)" type="text" id="shipping_address2" label="Shipping Address 2" placeholder="Line 2" v-model="shippingAddress2" labelFor="shipping_address2"></base-input>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <base-input label="Shipping Country" rules="required" name="Shipping Country" labelFor="shipping_country"  class="contains-select">
                  <el-select class="select-default" @change="get_states(shippingCountry, 'shipping')" placeholder="Shipping Country" id="shipping_country" v-model="shippingCountry">
                    <el-option v-for="option in selects.countries" class="select-default" :value="option.value" :label="option.value" :key="option.value"></el-option>
                  </el-select>
                </base-input>
              </div>
              <div class="col">
                <base-input @change="update_field($event)" type="text" id="shipping_city" label="Shipping City" placeholder="City" v-model="shippingCity" labelFor="shipping_city"></base-input>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <base-input @change="update_field($event)" type="text" id="shipping_state" label="Shipping State" rules="required" placeholder="State" labelFor="shipping_state"  class="contains-select">
                  <el-select
                    class="select-default"
                    collapse-tags
                    v-model="shippingState"
                    placeholder="State (select Country first)"
                  >
                    <el-option
                      v-for="option in selects.shippingStates"
                      class="select-default"
                      :value="option.value"
                      :label="option.label"
                      :key="option.label">
                    </el-option>
                  </el-select>
                </base-input>
              </div>
              <div class="col">
                <base-input @change="update_field($event)" type="text" id="shipping_zip" label="Shipping Zip" placeholder="Zip" v-model="shippingZip" labelFor="shipping_zip"></base-input>
              </div>
            </div>
          </div>

          <div class="text-center">
            <button v-on:click="update" class="btn btn-dark">Save and View Proposal</button>
          </div>
        </div>
      </form>

      <!-- NOTICES -->
      <div class="text-center">
        <div id="statuspasswrap" class="mt-0 mb-0 text-center">
          <div id="passchangesuccess" style="display: none;">
            <argon-alert>Details Updated Successfully. You will now be redirected to your proposal, <a href="/detail">{{qwilr}}</a>.</argon-alert>
          </div>

          <div id="passmsg" style="display: none;">
            <argon-alert color="danger"><span v-if="password.passmsg">{{password.passmsg}}</span></argon-alert>
          </div>
        </div>
      </div>

      <!-- FINAL MESSAGE -->
      <div class="text-center">
        <p>In the next step, you’ll review and accept your proposal before we get started.</p>
      </div>

    </div>
    <!-- END CARD BODY -->

  </div>
  <!-- END CARD -->

</template>

<script>

//import { mapMutations } from 'vuex'
//import { useRouter } from 'vue-router'
import axios from 'axios';
import { Loading } from 'element-ui';
import { LoadingPanel } from '@/components/argon-core';
import {Select, Option} from 'element-ui' // this is confusing, simple google won't do it, need specific doc here: https://demos.creative-tim.com/nuxt-argon-dashboard-pro/documentation/plugins/select.html#single-select
import ArgonAlert from "@/components/argon-core/ArgonAlert.vue";
import globalMixin from "../../../mixins/global.js";

function setBodyClasses() {
    let docClasses = document.body.classList;
    docClasses.add('vue-login');
}

export default {
  components: {
    ArgonAlert,
    [Select.name]: Select,
    [Option.name]: Option
  },

  setup() {
    const router = userRouter();
  },

  computed: {
    // billingFirstName: {
    //   get () {
    //     console.log('computed get billingFirstName: ' + this.$store.state.user.billingFirstName);
    //     return this.$store.state.user.billingFirstName;
    //   },
    //   set (value) {
    //     console.log('computed set billingFirstName: ' + this.$store.state.user.billingFirstName);
    //     this.$store.commit('user/updateBillingFirstName', value)
    //   }
    // },
  },

  async mounted() {
    console.log('OnboardingAddresses Mounted');
    console.dir(this.$store.state);

    let userLoaded = this.authenticateMixin();

    //if(this.billingState == 'United States'){ this.billingState = 'US' }
    //this.get_states(this.billingState, 'billing');
    //this.get_states(this.shippingState, 'shipping');

    // if(this.$store.state.user.billingFirstName){
    //   console.log('we have a populated store already');
    // }else{
    //   console.log('store empty');
    //   if(wpData.userinfo){
    //     console.log('logged in');
    //     this.$store.commit('user/add', wpData.userinfo);
    //   }else{
    //     console.log('not logged in');
    //     this.$router.push({ name: 'login' })
    //   }
    // }

    this.billingFirstName = this.$store.state.user.billingFirstName;
    this.billingLastName = this.$store.state.user.billingLastName;

    this.billingAddress1 = this.$store.state.user.billingAddress1;
    this.billingAddress2 = this.$store.state.user.billingAddress2;
    
    this.billingCity = this.$store.state.user.billingCity;
    this.billingState = this.$store.state.user.billingState;
    this.billingCountry = this.$store.state.user.billingCountry;
    this.billingZip = this.$store.state.user.billingZip;

    this.billingEmail = this.$store.state.user.billingEmail;
    this.billingPhone = this.$store.state.user.billingPhone;

    this.shippingAddress1 = this.$store.state.user.shippingAddress1;
    this.shippingAddress2 = this.$store.state.user.shippingAddress2;
    
    this.shippingCity = this.$store.state.user.shippingCity;
    this.shippingState = this.$store.state.user.shippingState;
    this.shippingCountry = this.$store.state.user.shippingCountry;
    this.shippingZip = this.$store.state.user.shippingZip;

    this.qwilr = this.$store.state.user.qwilr;
  },


  data() {
    return {
      // showShipping: false,
      selects: {
        simple: '',
        countries: [
          {value: 'US', label: 'United States'},
          {value: 'MX', label: 'Mexico'},
          {value: 'CA', label: 'Canada'},
        ],
        billingStates: [],
        // shippingcountries: [
        //   {value: 'US', label: 'United States'},
        //   {value: 'MX', label: 'Mexico'},
        //   {value: 'CA', label: 'Canada'},
        // ],
        shippingStates: []
      },
      loading: false,
      // user: {
      //   user_login: '',//this.$store.state.users.list[0].wpUser.user.user_login,
      //   user_fist_name: '',//this.$store.state.users.list[0].wpUser.user.first_name,
      //   user_last_name: '',//this.$store.state.users.list[0].wpUser.user.last_name,
      //billingCompany: this.$store.state.company,
      billingFirstName: this.$store.state.user.billingFirstName,
      billingLastName: this.$store.state.user.billingLastName,
      billingAddress1: this.$store.state.user.billingAddress1,
      billingAddress2: this.$store.state.user.billingAddress2,
      billingCountry: this.$store.state.user.billingCountry,
      billingCity: this.$store.state.user.billingCity,
      billingState: this.$store.state.user.billingState,
      billingZip: this.$store.state.user.billingZip,
      billingEmail: this.$store.state.user.billingEmail,
      billingPhone: this.$store.state.user.billingPhone,

      //shippingCompany: this.$store.state.company,
      shippingAddress1: this.$store.state.user.billingAddress1,
      shippingAddress2: this.$store.state.user.billingAddress2,
      shippingCountry: this.$store.state.user.billingCountry,
      shippingCity: this.$store.state.user.billingCity,
      shippingState: this.$store.state.user.billingState,
      shippingZip: this.$store.state.user.billingZip,
      qwilr: this.$store.state.user.qwilr,
      // },
      statusbill: '',
      formErrors: true,
      password: {
        confmessage: '',
        passmsg: ''
      },
      copyChecked: true,
    };
  }, //end of data

  mixins: [globalMixin],
  
  methods: {
    copy_billing(e){
      let currentObj = this;
      //console.log('copy_billing');
      //console.log(e.target.value);
      if (e.target.checked) {
        currentObj.copyChecked = true;
        currentObj.shippingAddress1 = currentObj.billingAddress1;
        currentObj.shippingAddress2 = currentObj.billingAddress2;
        currentObj.shippingCountry = currentObj.billingCountry;
        currentObj.shippingState = currentObj.billingState;
        currentObj.shippingCity = currentObj.billingCity;
        currentObj.shippingZip = currentObj.billingZip;
        //currentObj.showShipping = false;
        jQuery('#detailShippingDetails').slideUp(500, function(){});
      }else{
        currentObj.copyChecked = false;
        currentObj.shippingAddress1 = '';
        currentObj.shippingAddress2 = '';
        currentObj.shippingCountry = '';
        currentObj.shippingState = '';
        currentObj.shippingCity = '';
        currentObj.shippingZip = '';
        // currentObj.showShipping = true;
        jQuery('#detailShippingDetails').slideDown(500, function(){});
      }
    },

    get_states($country, $billOrShip){
      let currentObj = this;
      var params = new FormData();
      currentObj.loading = true;
      params.append('action', 'tajax_states');
      params.append('country', $country);
      axios.post('/wp-admin/admin-ajax.php', params)
      .then(function (response) {
        console.log(response);
        if($billOrShip == 'billing'){
          currentObj.selects.billingStates = [];
          currentObj.billingState = '';
          Object.entries(response.data).forEach(entry => {
            var obj = {};
            obj["value"] = entry[0];
            obj["label"] = entry[1];
             currentObj.selects.billingStates.push(obj);
          });
          //console.log('states reorganized:');
          console.log(currentObj.selects.billingStates);
          currentObj.loading = false;
        }
        if($billOrShip == 'shipping'){
          currentObj.selects.shippingStates = [];
          currentObj.shippingState = '';
          Object.entries(response.data).forEach(entry => {
            var obj = {};
            obj["value"] = entry[0];
            obj["label"] = entry[1];
             currentObj.selects.shippingStates.push(obj);
          });
          //console.log('states reorganized:');
          console.log(currentObj.selects.shippingStates);
          currentObj.loading = false;
        }
      });
    },

    update_field(e){
      console.log('update_field fires');
      let currentObj = this;
      // console.log(e);
      // console.log(e.target.value);
      // console.log(e.target.id);
      this.$store.commit('user/update', {"id":e.target.id, "value": e.target.value});
      // if (currentObj.copyChecked == true) {
      //   currentObj.copyChecked = false;
      //   currentObj.showShipping = true;
      // }
    },

    update(e) {
      e.preventDefault();
        // alert('Your data: ' + JSON.stringify(this.user));
        //console.log(this.user);
        let currentObj = this;
        currentObj.loading = true;
        currentObj.formErrors = true;

      if(currentObj.copyChecked == true){
        currentObj.shippingAddress1 = currentObj.billingAddress1;
        currentObj.shippingAddress2 = currentObj.billingAddress2;
        currentObj.shippingCountry = currentObj.billingCountry;
        currentObj.shippingState = currentObj.billingState;
        currentObj.shippingCity = currentObj.billingCity;
        currentObj.shippingZip = currentObj.billingZip;
      }
      /*
      * Input Validation
      */
       
      //console.log('shipping field value: ' + currentObj.shippingAddress1);
      //console.log('billing field value: ' + currentObj.shippingAddress1);
      //console.log(typeof(currentObj.shippingAddress1));
      //console.log(typeof(currentObj.billingAddress1));

      // ERROR: EMPTY FIELDS
      if( 
          (currentObj.billingFirstName != null) &&
          (currentObj.billingLastName != null) &&
          (currentObj.billingAddress1 != null) &&

          (currentObj.shippingAddress1 != null) &&

          (currentObj.billingAddress1 != '') &&
          (currentObj.billingAddress1 != 'undefined') &&
          //(currentObj.billingAddress2 != '') &&
          //(currentObj.billingAddress2 != 'undefined') &&
          //(currentObj.billingCountry != '') &&
          //(currentObj.billingCountry != 'undefined') &&
          (currentObj.billingCity != '') &&
          //(currentObj.billingState != '') &&
          //(currentObj.billingState != 'undefined') &&
          (currentObj.billingZip != '') &&
          (currentObj.billingZip != 'undefined') &&

          (currentObj.shippingAddress1 != '') &&
          (currentObj.shippingAddress1 != 'undefined') &&
          //(currentObj.shippingAddress2 != '') &&
          //(currentObj.shippingAddress2 != 'undefined') &&
          //(currentObj.shippingCountry != '') &&
          //(currentObj.shippingCountry != 'undefined') &&
          (currentObj.shippingCity != '') &&
          //(currentObj.shippingState != '') &&
          //(currentObj.shippingState != 'undefined') &&
          (currentObj.shippingZip != '') &&
          (currentObj.shippingZip != 'undefined')
        ){
          currentObj.formErrors = false;
        }else{
          this.password.passmsg = 'Error: Please Fill All Fields';
          jQuery('#statuspasswrap #passmsg').delay(50).slideDown(500).delay(3000).slideUp(500, function(){});
          currentObj.loading = false;
        }
      // ERROR: Perhaps further regex requirements
      /*
      } else if ( this.password.newpass != this.password.confpass )  {
        this.password.passmsg = 'Password Mismatch';
        jQuery('#statuspasswrap #passmsg').slideDown(500).delay(3000).slideUp(500, function(){});
      */

      // SUCCESSFUL MATCH
      //} else if {
        //currentObj.formErrors = false;
      //}
        
      if ( currentObj.formErrors == false ) {
        console.log('Shipping Address Complete');

        var params = new FormData();
        params.append('action', 'flyrise_update_addresses');
        params.append('first_name', currentObj.billingFirstName);
        params.append('last_name', currentObj.billingLastName);

        params.append('billing_first_name', currentObj.billingFirstName);
        params.append('billing_last_name', currentObj.billingLastName);

        //params.append('billing_company', currentObj.billingCompany);

        params.append('billing_address_1', currentObj.billingAddress1);
        params.append('billing_address_2', currentObj.billingAddress2);
        params.append('billing_city', currentObj.billingCity);
        params.append('billing_state', currentObj.billingState);
        params.append('billing_postcode', currentObj.billingZip);
        params.append('billing_country', currentObj.billingCountry);

        params.append('billing_email', currentObj.billingEmail);
        params.append('billing_phone', currentObj.billingPhone);

        params.append('shipping_first_name', currentObj.billingFirstName);
        params.append('shipping_last_name', currentObj.billingLastName);

        //params.append('shipping_company', currentObj.shippingCompany);

        params.append('shipping_address_1', currentObj.shippingAddress1);
        params.append('shipping_address_2', currentObj.shippingAddress2);
        params.append('shipping_city', currentObj.shippingCity);
        params.append('shipping_state', currentObj.shippingState);
        params.append('shipping_postcode', currentObj.shippingZip);
        params.append('shipping_country', currentObj.shippingCountry);

        params.append('shipping_email', currentObj.shippingEmail);
        params.append('shipping_phone', currentObj.shippingPhone);

        //console.log(params); // worthless
        axios.post('/wp-admin/admin-ajax.php', params)
        .then(function (response) {
          currentObj.statusbill = 'Billing and Shipping Addresses Updated Successfully';
          //console.log('Addresses Updated for ID: ' + response.data.id);
          console.log('Qwilr link: ' + currentObj.qwilr); // works
          console.log(response.data);

          // SUCCESS NOTIFICATION
          jQuery('#statuspasswrap div#passchangesuccess').slideDown(500, function(){
            setTimeout(function() {
              console.log('FOOBAR');
              location.href = currentObj.qwilr; // works
            }, 3000); 
          });
          // setTimeout(function() {            
          //   location.href = currentObj.qwilr; // works
          // }, 1000); 
        })

        .catch(function (error) {
          currentObj.loading = false;

          console.table(error)
          currentObj.output = error; // ?

          // ERROR MESSAGE
          currentObj.password.passmsg = 'Error: ' + error;
          jQuery('#statuspasswrap #passmsg').slideDown(500).delay(3000).slideUp(500, function(){});
        });
      }
      // OTHER ERROR
      // } else {
      //   currentObj.loading = false;
      //   console.log('Form Errors: ' + currentObj.formErrors);
      //   currentObj.password.passmsg = 'An unknown error has occured';
      //   jQuery('#statuspasswrap #passmsg').slideDown(500).delay(3000).slideUp(500, function(){});
      // }
      /*
      * End Input Validation
      */

        
    },
    
  }, //end of Methods
  created() {
    var vm = this;
    setBodyClasses();
    document.addEventListener('keyup', function (evt) {
      if (evt.keyCode === 13) {
        //vm.update_password(evt);

      }
    });
  },
  asyncData() {
    return { renderedOn: process.client ? 'client' : 'server' }
  }
}; // end of export

</script>

<style>
  #loading {
    min-height: 200px;
    display: flex;
    align-items: center;
  }

  .el-loading-spinner .path {
    stroke: #66615b !important;
  }

  .el-loading-mask {
    background: rgba(255,255,255,0.5) !important;
  }
  
</style>
