<template>
  <div>
    <el-table v-if="products" class="table-responsive table-flush no-outside-column-padding no-bottom-row-border" :data="products">
      <el-table-column label="Name" min-width="250px" prop="name">
        <template v-slot="{row}">
          <div>
             <span>{{row.name}}</span>
          </div>
        </template>
      </el-table-column>
      <el-table-column label="Total" min-width="100px" prop="" label-class-name="text-right" align="right" header-align="right">
        <template v-slot="{row}">
          <div class="text-right">
             <span>${{row.price}}</span>
          </div>
        </template>
      </el-table-column>
    </el-table>

  </div>
</template>
<script>
  import tableData from './demo-data/order-items';
  import axios from 'axios';
  import { Table, TableColumn, DropdownMenu, DropdownItem, Dropdown} from 'element-ui'
  export default {
    name: 'light-table',
    components: {
      [Table.name]: Table,
      [TableColumn.name]: TableColumn,
      [Dropdown.name]: Dropdown,
      [DropdownItem.name]: DropdownItem,
      [DropdownMenu.name]: DropdownMenu,
    },
    data() {
      return {
        tableData,
        currentPage: 1,
        products : null
      };
    },
    mounted() {
     
                var oid = new URL(location.href).searchParams.get('oid');
               // console.log(oid);
                var params = new FormData();
                params.append('action', 'fr_get_order_items');
                params.append('order_id', oid);
                axios.post('/wp-admin/admin-ajax.php', params)
                .then(res => {
                  console.log(res.data)
                 this.products = res.data;
                })
                .catch(function (error) {
                  console.log(error)
                });
               
                
  },
  }
</script>

