<template>
  <card>
    <div slot="header" class="row align-items-center">
      <div class="col">
        <h3 class="mb-0">Summary</h3>
      </div>
    </div>

    <order-items-table></order-items-table>

  </card>
</template>

<script>
  import { Dropdown, DropdownItem, DropdownMenu, Table, TableColumn } from 'element-ui';
  import OrderItemsTable from '~/components/pages/settings/OrderItemsTable.vue';

  export default {
    components: {
      OrderItemsTable,
      [Dropdown.name]: Dropdown,
      [DropdownItem.name]: DropdownItem,
      [DropdownMenu.name]: DropdownMenu,
      [Table.name]: Table,
      [TableColumn.name]: TableColumn
    }
  };
</script>