<template>
  <card>
    <div slot="header" class="row align-items-center">
      <div class="col">
        <h3 class="mb-0">Details</h3>
      </div>
    </div>

    <!-- <order-details-table></order-details-table> -->

    <div class="el-table table-vertical no-table-header last-column-text-right no-outside-column-padding no-top-row-padding no-bottom-row-border el-table--fit el-table--enable-row-hover el-table--enable-row-transition">
      <table v-if="order2" class="el-table__body" style="width: 100%;">
        <tbody>
          <tr>
            <td>Status</td>
            <td v-if="order2.status == 'pending'">Pending Payment</td>
            <td v-if="order2.status == 'processing'">Paid</td>
          </tr>
          <tr>
            <td>Order Date</td>
            <td>{{date}}</td>
          </tr>
          <tr v-if="order2.payment_method">
            <td>Payment Method</td>
            <td>{{order2.payment_method}}</td>
          </tr>
          <tr v-if="order2.billing_address_1">
            <td>Billing Address</td>
            <td>{{order2.billing_address_1}} {{order2.billing.address_2}} <br>{{order2.billing.city}}, {{order2.billing.state}} {{order2.billing.postcode}} {{order2.billing.country}}</td>
          </tr>
          <tr>
            <td>Actions</td>
            <td><a :href="order2.view">View Invoice</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </card>
</template>
<script>
import { Dropdown, DropdownItem, DropdownMenu, Table, TableColumn } from 'element-ui';
// import OrderDetailsTable from '~/components/pages/settings/OrderDetailsTable.vue';
import axios from 'axios';
export default {
  data() {
    return {
      order: {
        status: 'test',
        date: 'October 1, 2020',
        paymentmethod: 'VISA 0000',
        address: 'Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09',
        city: 'New York',
        country: 'USA',
        postalCode: '55555',
        invoice: 'url to invoice pdf goes here'
      },
      order2 : null,
      date : null,
      invoicelink: ""
    };
  },
  mounted() {
    var oid = new URL(location.href).searchParams.get('oid');

    // console.log(oid);
    var params = new FormData();
    params.append('action', 'fr_get_order_details');
    params.append('order_id', oid);
    axios.post('/wp-admin/admin-ajax.php', params)
    .then(res => {
    var orderdata;
    console.log(res.data)
    orderdata = res.data;
    this.order2 = orderdata;
    //console.log(this.order2.billing.address_1);
    var dateww = this.order2.date_created.date.split(' ');
    var parts = dateww[0].split('-');
    // Please pay attention to the month (parts[1]); JavaScript counts months from 0:
    // January - 0, February - 1, etc.
    var mydate = new Date(parts[0], parts[1] - 1, parts[2]); 
    this.date = mydate.toDateString();
    })
    .catch(function (error) {
    console.log(error)
    });
  },
  methods: {
    updateProfile() {
      alert('Your data: ' + JSON.stringify(this.order));
    }
  },
};
</script>