<template>
  <div class="card">

    <div class="border-0 card-header">
      <div class="row align-items-center">
        <div class="col-8">
          <h3 class="mb-0">Orders</h3>
        </div>
        <div class="col-4 text-right">
          <!-- <a href="#!" class="btn btn-sm btn-primary">Add New</a> -->
        </div>
      </div>
    </div>

    <div class="card-body">
      <el-table class="table-responsive table-flush no-outside-column-padding no-bottom-row-border" header-row-class-name="thead-light" :data="wpData.orders">
          
        <el-table-column label="Order ID" min-width="150px" prop="id" sortable>
          <template v-slot="{row}">
            <div>
              <span><router-link :to="`/pages/settings/view-order/?oid=${row.id}`">Order {{row.id}}</router-link></span>
            </div>
          </template>
        </el-table-column>
        
        <el-table-column label="Date" min-width="150px" prop="" sortable>
           <template v-slot="{row}">
            <div>
               <span>{{row.date_created.date | formatDate}}</span>
            </div>
          </template>
        </el-table-column>


        <el-table-column label="Total" min-width="150px" prop="">
          <template v-slot="{row}">
            <div>
               <span>${{row.total}}</span>
            </div>
          </template>
        </el-table-column>


        <el-table-column label="Status" min-width="180px" prop="status">
          <template v-slot="{row}">
            <div>
              <badge class="badge-dot" type="">
                <i v-if="row.status == 'pending'" :class="`bg-danger`"></i>
                <i v-if="row.status == 'processing'" :class="`bg-success`"></i>
                <i v-if="row.status == 'completed'" :class="`bg-success`"></i>
                <i v-if="row.status == 'refunded'" :class="`bg-success`"></i>
                <i v-if="row.status == 'failed'" :class="`bg-danger`"></i>
                <i v-if="row.status == 'canceled'" :class="`bg-danger`"></i>
                <span v-if="row.status=='pending'">Pending Payment</span>
                <span v-if="row.status=='processing'">Paid</span>
                <span v-if="row.status=='completed'">Paid</span>
                <span v-if="row.status=='refunded'">Refunded</span>
                <span v-if="row.status=='failed'">Failed</span>
                <span v-if="row.status=='canceled'">Canceled</span>
              </badge>
            </div>
          </template>
        </el-table-column>

        <el-table-column label="Actions" min-width="150px" prop="" label-class-name="text-right" align="right" header-align="right">
          <template v-slot="{row}">
            <div class="text-right">
              <a v-if="row.status == 'pending'" :href="`/payment/checkout/payments-checkout/${row.id}/?pay_for_order=true&key=${row.order_key}`" class="btn btn-sm btn-solid">Pay Now</a>
              <router-link :to="`/pages/settings/view-order/?oid=${row.id}`" class="btn btn-sm btn-solid">View</router-link>
            </div>
          </template>
        </el-table-column>
      </el-table>
    </div>

    <!-- <div class="card-footer py-4 d-flex justify-content-end">
      <base-pagination v-model="currentPage" :total="50"></base-pagination>
    </div> -->
  </div>
</template>
<script>
  import tableData from './demo-data/orders'
  import { Table, TableColumn, DropdownMenu, DropdownItem, Dropdown} from 'element-ui'
  
  import moment from 'moment'

  export default {
    filters: {
      formatDate: function(value) {
        if (value) {
          // goal October 16, 2020 (no time)
          //console.log(day.format('dddd MMMM Do YYYY, h:mm:ss a'));
          return moment(String(value)).format('MMMM DD, YYYY')
        }
      }
    },
    name: 'light-table',
    components: {
      [Table.name]: Table,
      [TableColumn.name]: TableColumn,
      [Dropdown.name]: Dropdown,
      [DropdownItem.name]: DropdownItem,
      [DropdownMenu.name]: DropdownMenu,
    },
    data() {
      return {
        wpData : {},
        tableData,
        currentPage: 1,
        
      };
    },
    mounted() {
      this.wpData = wpData;
      console.table(wpData.orders);
    },
  }
</script>
