<template>
  <div class="card">

    <div class="border-0 card-header">
      <div class="row align-items-center">
        <div class="col-8">
          <h3 class="mb-0">Payment Methods</h3>
        </div>
        <div class="col-4 text-right">
          <a href="/pages/settings/add-new-payment-method/" class="btn btn-sm btn-primary">Add New</a>
          <!--<b-button :to="`/pages/settings/add-new-payment-method/`" class="btn btn-sm btn-primary">Add New</b-button>-->
        </div>
      </div>
    </div>

    <div class="card-body">
      <el-table class="table-responsive table-flush no-outside-column-padding no-bottom-row-border" header-row-class-name="thead-light" :data="wpData.payment_methods.cc">
          
        <el-table-column label="Method" min-width="200px" prop="method">
          <template v-slot="{row}">
            <div>
              <span>{{row.method.brand}} ending in {{row.method.last4}}</span>
            </div>
          </template>
        </el-table-column>

        <el-table-column label="Expiration" min-width="200px" prop="expiration">
          <template v-slot="{row}">
            <div>
              <span>{{row.expires}}</span>
            </div>
          </template>
        </el-table-column>

        <el-table-column label="Status" min-width="200px" prop="status">
          <template v-slot="{row}">
            <div>
              <badge v-if="row.is_default === true" class="badge-dot mr-4" type="">
                <i :class="`bg-success`"></i>
                <span class="status">Default</span>
              </badge>
              <badge v-if="row.is_default === false" class="badge-dot mr-4" type="">
                <i :class="`bg-success`"></i>
                <span class="status">Valid</span>
              </badge>
            </div>
          </template>
        </el-table-column>

        <el-table-column label="Actions" min-width="150px" prop="" label-class-name="text-right" align="right" header-align="right">
            <template v-slot="{row}">
              <div class="text-right">
                <a v-if="row.actions.default" v-bind:href="row.actions.default.url" class="btn btn-sm btn-solid">Set Default</a>
                <a v-if="row.actions.delete" v-bind:href="row.actions.delete.url" class="btn btn-sm btn-solid">Delete</a>
              </div>
            </template>
        </el-table-column>

      </el-table>
    </div>

   
  </div>
</template>
<script>
  import paymentMethods from './demo-data/payment-methods'
  import { Table, TableColumn, DropdownMenu, DropdownItem, Dropdown} from 'element-ui'
  export default {
    name: 'light-table',
    components: {
      [Table.name]: Table,
      [TableColumn.name]: TableColumn,
      [Dropdown.name]: Dropdown,
      [DropdownItem.name]: DropdownItem,
      [DropdownMenu.name]: DropdownMenu,
    },
    data() {
      return {
        wpData : {
          payment_methods: {
            cc: ''
          }
        },
        paymentMethods,
        currentPage: 1,


        // tableRowClassName({ row }) {
        //   if (row.status === 'default') {
        //     return 'bg-success'
        //   } else if (row.status === 'Rejected') {
        //     return 'warning-row'
        //   }
        //   return ''
        // }
        
      };
    },
    mounted() {
      this.wpData = wpData;
      console.log(paymentMethods);
    },
    
  }
</script>
