<template>
  <card>
    <div slot="header" class="row align-items-center">
      <div class="col">
        <h3 class="mb-0">Shipping Address</h3>
        <p v-if="statusship" class="mb-0"><small id="statusprof" style="color:#4ad2a0 !important;">{{statusship}}</small></p>
      </div>
    </div>

    <form>
      <div class="row">
        <div class="col-lg-6">
          <base-input type="text" id="shipping-first-name" label="First Name" placeholder="First Name"  v-model="shippingFirstName"></base-input><!--v-on:input="shippingFirstName = $event"-->
        </div>
        <div class="col-lg-6">
          <base-input type="text" id="shipping-last-name" label="Last Name" placeholder="Last Name" v-model="shippingLastName"></base-input>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <base-input type="text" id="shipping-company" label="Company" placeholder="Company" v-model="shippingCompany"></base-input>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <base-input type="text" id="shipping-address1" label="Address 1" placeholder="Address1" v-model="shippingAddress1"></base-input>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8">
          <base-input type="text" id="shipping-address2" label="Address 2" placeholder="Address 2" v-model="shippingAddress2"></base-input>
        </div>
        <div class="col-lg-4">
          <base-input type="text" id="shipping-country" label="Country" placeholder="Country" v-model="shippingCountry"></base-input>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <base-input type="text" id="shipping-city" label="City" placeholder="City" v-model="shippingCity"></base-input>
        </div>
        <div class="col-lg-4">
          <base-input type="text" id="shipping-state" label="State" placeholder="State" v-model="shippingState"></base-input>
        </div>
        <div class="col-lg-4">
          <base-input type="text" id="shipping-zip" label="Zip Code" placeholder="Zip Code" v-model="shippingZip"></base-input>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <base-input type="text" id="shipping-email" label="Email Address" placeholder="Email Address" v-model="shippingEmail"></base-input>
        </div>
        <div class="col-lg-6">
          <base-input type="text" id="shipping-phone" label="Phone Number" placeholder="Phone Number" v-model="shippingPhone"></base-input>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-lg-12">
          <base-checkbox v-model="shippingDefaultAddress">Update the Shipping Address used for all of my active subscriptions (optional)</base-checkbox>
        </div>
      </div> -->

    </form>
    <div class="text-right">
      <button href="#" v-on:click="update_shipping" class="btn btn-dark">Save</button>
    </div>
  </card>
</template>

<script>

//import { mapMutations } from 'vuex'
//import { useRouter } from 'vue-router'
import axios from 'axios';
//import { Loading } from 'element-ui';
//import { LoadingPanel } from '@/components/argon-core';
import {Select, Option} from 'element-ui' // this is confusing, simple google won't do it, need specific doc here: https://demos.creative-tim.com/nuxt-argon-dashboard-pro/documentation/plugins/select.html#single-select
import globalMixin from "../../../mixins/global.js";

export default {
  components: {
    [Select.name]: Select,
    [Option.name]: Option
  },

  setup() {
    const router = userRouter();
  },

  data() {
    return {
      selects: {
        simple: '',
        // countries: [
        //   {value: 'US', label: 'United States'},
        //   {value: 'MX', label: 'Mexico'},
        //   {value: 'CA', label: 'Canada'},
        // ],
        //billingStates: [],
        // shippingcountries: [
        //   {value: 'US', label: 'United States'},
        //   {value: 'MX', label: 'Mexico'},
        //   {value: 'CA', label: 'Canada'},
        // ],
        //shippingStates: []
      },
      loading: false,

      shippingCompany: this.$store.state.shippingCompany,

      shippingFirstName: this.$store.state.shippingFirstName,
      shippingLastName: this.$store.state.shippingLastName,

      shippingAddress1: this.$store.state.shippingAddress1,
      shippingAddress2: this.$store.state.shippingAddress2,
      
      shippingCity: this.$store.state.shippingCity,
      shippingState: this.$store.state.shippingState,
      shippingCountry: this.$store.state.shippingCountry,
      shippingZip: this.$store.state.shippingZip,

      shippingEmail: this.$store.state.shippingEmail,
      shippingPhone: this.$store.state.shippingPhone,
      
      qwilr: this.$store.state.qwilr,

      statusship: '',
      formErrors: false,
      password: {
        confmessage: '',
        passmsg: ''
      }
    };
  },

  mixins: [globalMixin],

  async mounted() {
    console.log('BillingAddress.vue mounted');

    let userLoaded = this.authenticateMixin();

    //this.$store.commit('user/add', wpData.userinfo);
    this.shippingCompany = this.$store.state.user.shippingCompany;

    this.shippingFirstName = this.$store.state.user.shippingFirstName;
    this.shippingLastName = this.$store.state.user.shippingLastName;

    this.shippingAddress1 = this.$store.state.user.shippingAddress1;
    this.shippingAddress2 = (this.$store.state.user.shippingAddress2 != 'undefined') ? this.$store.state.user.shippingAddress2: '';
    
    this.shippingCity = this.$store.state.user.shippingCity;
    this.shippingState = this.$store.state.user.shippingState;
    this.shippingCountry = this.$store.state.user.shippingCountry;
    this.shippingZip = this.$store.state.user.shippingZip;

    this.shippingEmail = (this.$store.state.user.shippingEmail != 'undefined') ? this.$store.state.user.shippingEmail: '';
    this.shippingPhone = (this.$store.state.user.shippingPhone != 'undefined') ? this.$store.state.user.shippingPhone: '';
  },
  
  methods: {
    update_shipping(e) {
      
      var holdStore = this;

      e.preventDefault();
      //  alert('Your data: ' + JSON.stringify(this.user));
        console.log(this.user);
        let currentObj = this;
        var params = new FormData();
        params.append('action', 'flyrise_update_address_for_shipping');
        
        params.append('shipping_company', this.shippingCompany);

        params.append('shipping_first_name', this.shippingFirstName);
        params.append('shipping_last_name', this.shippingLastName);
        
        params.append('shipping_address_1', this.shippingAddress1);
        params.append('shipping_address_2', this.shippingAddress2);

        params.append('shipping_city', this.shippingCity);
        params.append('shipping_state', this.shippingState);
        params.append('shipping_country', this.shippingCountry);
        params.append('shipping_postcode', this.shippingZip);

        params.append('shipping_email', this.shippingEmail);
        params.append('shipping_phone', this.shippingPhone);
        
        console.log(params);
        axios.post('/wp-admin/admin-ajax.php', params)
        .then(function (response) {
            currentObj.statusship = "Shipping Address Updated Successfully";
            //document.location.href = document.location.href
            //console.log(holdStore.shippingEmail);
            holdStore.$store.commit('user/update', {id: 'shippingCompany', value: holdStore.shippingCompany});
            holdStore.$store.commit('user/update', {id: 'shippingFirstName', value: holdStore.shippingFirstName});
            holdStore.$store.commit('user/update', {id: 'shippingLastName', value: holdStore.shippingLastName});
            holdStore.$store.commit('user/update', {id: 'shippingAddress1', value: holdStore.shippingAddress1});
            holdStore.$store.commit('user/update', {id: 'shippingAddress2', value: holdStore.shippingAddress2});
            holdStore.$store.commit('user/update', {id: 'shippingCity', value: holdStore.shippingCity});
            holdStore.$store.commit('user/update', {id: 'shippingState', value: holdStore.shippingState});
            holdStore.$store.commit('user/update', {id: 'shippingCountry', value: holdStore.shippingCountry});
            holdStore.$store.commit('user/update', {id: 'shippingZip', value: holdStore.shippingZip});
            holdStore.$store.commit('user/update', {id: 'shippingEmail', value: holdStore.shippingEmail});
            holdStore.$store.commit('user/update', {id: 'shippingPhone', value: holdStore.shippingPhone});
        })
        .catch(function (error) {
          console.table(error)
            currentObj.output = error;
        });
    }
  }
};
</script>
<style></style>
