<template>
  <div>

    <el-table v-if="sub" class="table-vertical no-table-header last-column-text-right no-outside-column-padding no-top-row-padding no-bottom-row-border" :data="sub">
      <el-table-column label="Name" prop="name">
         <template v-slot="{row}">
          <div>
            {{row.name}}
          </div>
        </template>
      </el-table-column>
      <el-table-column label="Price" prop="total">
         <template v-slot="{row}">
          <div>
            ${{row.total}}
          </div>
        </template>
      </el-table-column>
    </el-table>

  </div>
</template>
<script>
  import tableData from './demo-data/subscription-summary'
  import { Table, TableColumn, DropdownMenu, DropdownItem, Dropdown} from 'element-ui'
  export default {
    name: 'light-table',
    components: {
      [Table.name]: Table,
      [TableColumn.name]: TableColumn,
      [Dropdown.name]: Dropdown,
      [DropdownItem.name]: DropdownItem,
      [DropdownMenu.name]: DropdownMenu,
    },
    data() {
      return {
        tableData,
        currentPage: 1,
        sub: ''
      };
    },
    created() {
    function sid() {
      var sid = new URL(location.href).searchParams.get('sid');
      return sid;
    }
    var sid = new URL(location.href).searchParams.get('sid');
                  var data = [];
                  var myObj = wpData.subscriptions;
                  let entries = Object.entries(myObj);
                  console.log(entries);
                    var subdata = entries.find(function (element) { 
                      return new URL(location.href).searchParams.get('sid'); 
                  }); 
                  console.log(subdata)
                  this.sub = subdata;
                  console.log(myObj)
    },

  }
</script>

