<template>
  <div>

    <el-table class="no-outside-column-padding no-bottom-row-border" :data="renewals">
      <el-table-column label="Order ID" min-width="125px" prop="id">
         <template v-slot="{row}">
          <div>
            <span>Order {{row[1].id}}</span>
          </div>
        </template>
      </el-table-column>
      <el-table-column label="Date" min-width="125px" prop="date">
        <template v-slot="{row}">
          <div>
            <span>{{row[1].date}}</span>
          </div>
        </template>
      </el-table-column>
      <el-table-column label="Status" min-width="125px" prop="status">
        <template v-slot="{row}">
          <div>
            <span>{{row[1].status}}</span>
          </div>
        </template>
      </el-table-column>
      <el-table-column label="Total" min-width="100px" prop="total" label-class-name="text-right" align="right" header-align="right">
        <template v-slot="{row}">
          <div class="text-right">
            <span>${{row[1].total}}</span>
          </div>
        </template>
      </el-table-column>
    </el-table>

  </div>
</template>
<script>
  import tableData from './demo-data/subscription-renewal-history'
  import { Table, TableColumn, DropdownMenu, DropdownItem, Dropdown} from 'element-ui'
  import axios from 'axios';
  export default {
    name: 'light-table',
    components: {
      [Table.name]: Table,
      [TableColumn.name]: TableColumn,
      [Dropdown.name]: Dropdown,
      [DropdownItem.name]: DropdownItem,
      [DropdownMenu.name]: DropdownMenu,
    },
    data() {
      return {
        tableData,
        currentPage: 1,
        renewals: '',
        data: [],
        myObj: {},
      };
    },
    created() {
                  // var data = [];
                  // var myObj = wpData.renewals;
                  // let entries = Object.entries(myObj);
                  // console.log(entries)
                  // this.renewals = entries;
    },
    mounted(){
      this.wpData = wpData;
      this.myObj = wpData.renewals;
      let entries = Object.entries(this.myObj);
      console.log(entries)
      this.renewals = entries;
    }
  }
</script>

