<template>
  <div class="card">

    <div class="border-0 card-header">
      <div class="row align-items-center">
        <div class="col-8">
          <h3 class="mb-0">Subscriptions</h3>
        </div>
        <div class="col-4 text-right">
          <!-- <a href="#!" class="btn btn-sm btn-primary">Add New</a> -->
        </div>
      </div>
    </div>

    <div class="card-body">
      <el-table class="table-responsive table-flush no-outside-column-padding no-bottom-row-border" v-if="subs" header-row-class-name="thead-light" :data="subs">
          
        <el-table-column label="Subscription" min-width="250px" prop="name" sortable>
          <template v-slot="{row}">
            <div>
              <span><router-link :to="`/pages/settings/view-subscription/?sid=${row[1].id}`">{{row[1].name}}</router-link></span>
            </div>
          </template>
        </el-table-column>

        <el-table-column label="Recurring" min-width="150px" prop="schedule_next_payment.date">
          <template v-slot="{row}">
            <div v-if="row[1].recurring == 'month'">
              <span>Monthly</span>
            </div>
          </template>
        </el-table-column>

        <el-table-column label="Total" min-width="150px" prop="total">
          <template v-slot="{row}">
            <div>
              <span>${{row[1].total}} /month</span>
            </div>
          </template>
        </el-table-column>

        <el-table-column label="Status" min-width="180px" prop="status">
          <template v-slot="{row}">
            <div>
              <badge class="badge-dot" type="">
                <i v-if="row[1].status == 'Inactive'" :class="`bg-danger`"></i>
                <i v-if="row[1].status == 'Active'" :class="`bg-success`"></i>
                <span class="status">{{row[1].status}}</span>
              </badge>
            </div>
          </template>
        </el-table-column>

        <el-table-column label="Actions" min-width="100px" prop="id"  label-class-name="text-right" align="right" header-align="right">
          <template v-slot="{row}">
            <div class="text-right">
              <router-link :to="`/pages/settings/view-subscription/?sid=${row[1].id}`" class="btn btn-sm btn-solid">View</router-link>
            </div>
          </template>
        </el-table-column>

        <!-- <el-table-column min-width="180px">
            <template v-slot="{row}">
              <div class="text-right">
                <el-dropdown trigger="click" class="dropdown">
                  <span class="btn btn-sm btn-icon-only text-light">
                    <i class="fas fa-ellipsis-v mt-2"></i>
                  </span>
                  <el-dropdown-menu class="dropdown-menu dropdown-menu-arrow show" slot="dropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </el-dropdown-menu>
                </el-dropdown>
              </div>
            </template>
        </el-table-column> -->
      </el-table>
    </div>

    <!-- <div class="card-footer py-4 d-flex justify-content-end">
      <base-pagination v-model="currentPage" :total="50"></base-pagination>
    </div> -->
  </div>
</template>
<script>
  import tableData from './demo-data/subscriptions'
  import { Table, TableColumn, DropdownMenu, DropdownItem, Dropdown} from 'element-ui'
    import axios from 'axios';
  export default {
    name: 'light-table',
    components: {
      [Table.name]: Table,
      [TableColumn.name]: TableColumn,
      [Dropdown.name]: Dropdown,
      [DropdownItem.name]: DropdownItem,
      [DropdownMenu.name]: DropdownMenu,
    },
        data() {
      return {
        wpData : {},
        tableData,
        currentPage: 1,
        subs : '',
      };
    },
     created() {
                  var data = [];
                  var myObj = {};
                  let entries = Object.entries(myObj);
                  console.log(entries)
                  this.subs = entries;
    },
    mounted() {
      this.wpData = wpData;
      this.myObj = wpData.subscriptions;
     // console.table(wpData.subscriptions);
    },
  }

  
</script>
