<template>
  <card>
    <div slot="header" class="row align-items-center">
      <div class="col">
        <h3 class="mb-0">Details</h3>
      </div>
    </div>

    <div class="el-table table-vertical no-table-header last-column-text-right no-outside-column-padding no-top-row-padding no-bottom-row-border el-table--fit el-table--enable-row-hover el-table--enable-row-transition">
      <table class="el-table__body" style="width: 100%;">
        <tbody>
          <tr>
            <td>Status</td>
            <td></td><!--{{sub[1].status}}-->
          </tr>
          <tr>
            <td>Start Date</td>
            <td></td><!--{{sub[1].start}}-->
          </tr>
          <tr>
            <td>Payment Method</td>
            <td></td><!--{{sub[1].payment_method}}-->
          </tr>
          <tr>
            <td>Next Payment</td>
            <td></td><!--{{sub[1].npaydate}}-->
          </tr>
          
        </tbody>
      </table>
    </div>
  </card>
</template>
<script>
import { Dropdown, DropdownItem, DropdownMenu, Table, TableColumn } from 'element-ui';

export default {
  data() {
    return {
      order: {
        status: 'Pending',
        date: 'October 1, 2020',
        paymentmethod: 'VISA 0000',
        address: 'Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09',
        city: 'New York',
        country: 'USA',
        postalCode: '55555',
        invoice: 'url to invoice pdf goes here'
      },
      wpData: {},
      sub: {},
      data: [],
      myObj: {},
    };
  },

  created() {
    // function sid() {
    //   var sid = new URL(location.href).searchParams.get('sid');
    //   return sid;
    // }
    // var sid = new URL(location.href).searchParams.get('sid');
    // var data = [];
    // var myObj = wpData.subscriptions;
    // let entries = Object.entries(myObj);
    // console.log(entries);
    //   var subdata = entries.find(function (element) { 
    //     return new URL(location.href).searchParams.get('sid'); 
    // }); 
    // console.log(subdata)
    // this.sub = subdata;
    // console.log(myObj)
  },
  mounted(){
    function sid() {
      var sid = new URL(location.href).searchParams.get('sid');
      return sid;
    }
    var sid = new URL(location.href).searchParams.get('sid');
    let entries = Object.entries(this.myObj.subscriptions);
    console.log(entries);
      var subdata = entries.find(function (element) { 
        return new URL(location.href).searchParams.get('sid'); 
    }); 
    console.log(subdata)
    this.sub = subdata;
    console.log(this.myObj)
  },
  methods: {
    updateProfile() {
      alert('Your data: ' + JSON.stringify(this.order));
    }
  }
};
</script>