<template>
  <card>
    <div slot="header" class="row align-items-center">
      <div class="col">
        <h3 class="mb-0">Summary</h3>
      </div>
    </div>

    <subscription-summary-table></subscription-summary-table>

  </card>
</template>

<script>
  import { Dropdown, DropdownItem, DropdownMenu, Table, TableColumn } from 'element-ui';
  import SubscriptionSummaryTable from '~/components/pages/settings/SubscriptionSummaryTable.vue';

  export default {
    components: {
      SubscriptionSummaryTable,
      [Dropdown.name]: Dropdown,
      [DropdownItem.name]: DropdownItem,
      [DropdownMenu.name]: DropdownMenu,
      [Table.name]: Table,
      [TableColumn.name]: TableColumn
    }
  };
</script>