<template>
  <card>

    <!-- CARD HEADER -->
    <div slot="header" class="row align-items-center">
      <div class="col">
        <h3 class="mb-0">User Settings</h3>
        <p id="statusprofwrap" class="mt-0 mb-0">
          <span id="profchangesuccess" style="display: none;">
            <small id="statusprof" style="color: #4ad2a0 !important;">Profile Updated Successfully</small>
          </span>
        </p>
        <p id="statusimgwrap" class="mt-0 mb-0">
          <span id="imgchangesuccess" style="display: none;">
            <small id="statusimg" style="color: #4ad2a0 !important;">Image Updated Succesfully!</small>
          </span>
          <span id="imgchangefail" style="display: none;">
            <small id="statusimg" style="color: #ff0000 !important;">Image Upload Failed</small>
          </span>
        </p>
      </div>
    </div>
    
    <!-- CARD BODY -->
    <form @submit.prevent="updateProfile" class="mb-0">
      <div class="row align-items-center">

        <!-- AVATAR -->
        <div v-bind:class="{ 'align-self-start': edituserinfo == 1}" class="col-12 col-lg-4">
          <div class="user-avatar mb-0" :style="{backgroundImage:`url(${user.profileimg})`}" style="background-size: cover; background-position: center center; background-repeat: no-repeat; position: relative; padding-top: 100%; border-radius: 50%;"></div>
          <div v-if="edituserinfo == 1" class="profile-upload-cont mt-3">
            <input @change="onFileChange" type="file" id="file" ref="file" style="display: none;" />
            <p class="text-center"><a v-on:click.prevent @click='uploadFile()' class="btn btn-dark btn-sm" href="#">Update Image</a></p>
          </div>
        </div>

        <!-- USER INFO -->
        <div v-if="edituserinfo == 0" class="col-12 col-lg-8 mt-3 mt-lg-0 text-center text-lg-left">
          <h2 class="mb-0">{{user.firstName}} {{user.lastName}}</h2>
          <p class="mb-2">{{user.email}}</p>
          <a id="profileedit" href="#" v-if="edituserinfo == 0" v-on:click.prevent v-on:click="edituserinfo = 1;" class="btn btn-sm">Edit</a>
        </div>

        <div v-if="edituserinfo == 1" class="col-12 col-lg-8">
          <form action="" class="mb-0">
            <base-input type="text" label="First Name" placeholder="First Name" v-model="user.firstName"></base-input>
            <base-input type="text" label="Last Name" placeholder="Last Name" v-model="user.lastName"></base-input>
            <base-input type="email" label="Email address" placeholder="Email Address" v-model="user.email"></base-input>
            <div class="text-right">
              <a href="#" v-on:click="update_account($event);" class="btn btn-dark">Save</a>
            </div>
          </form>
        </div>

      </div>
    </form>
    
  </card>
</template>
<script>
import axios from 'axios';
export default {
  data() {
    return {
      userinfo: {
        "email":false,
        "first_name":false,
        "last_name":false,
        "company":false,
        "display_name":false,
        "profileimg":false,
      },
      file : '',
      imgstatus : '',
      statusprof: '',
      statuspass: '',
      edituserinfo: 0,
      user: {
        profileimg: '',
      }
    };
  },
  async mounted() {
    //console.log(wpData);
    try {
      this.wpData = wpData;
      this.user = {
        company: wpData.userinfo.company,
        username: wpData.userinfo.display_name,
        email: wpData.userinfo.email,
        firstName: wpData.userinfo.first_name,
        lastName: wpData.userinfo.last_name,
        curpass : '',
        newpass1 : '',
        newpass2 : '',
        profileimg : wpData.userinfo.profileimg
      };
    } catch (error) {
      this.error = error
    }    
  },
  methods: {

    onFileChange(e) {
      var vm = this;
      const file = e.target.files[0];
      this.user.profileimg = URL.createObjectURL(file);
      this.file = this.$refs.file.files[0];
      var imgstatusm = "Image Updated Succesfully!";
      let formData = new FormData();
      formData.append('file', this.file);
      formData.append('action', 'md_support_save');
      axios.post('/wp-admin/admin-ajax.php', formData,
      {
        headers: {
          'Content-Type': 'multipart/form-data'
        }
      })
      .then(function (response) {

        // IMG FAIL
        if (!response.data) {
          vm.imgstatus = "Image Upload Failed";
          jQuery('#statusimgwrap span#imgchangefail').slideDown(500).delay(3000).slideUp(500, function(){
            vm.imgstatus = null;
            // location.reload();
          });

        // IMG SUCCESS
        } else {
          vm.imgstatus = "Image Updated Succesfully!";
          jQuery('#statusimgwrap span#imgchangesuccess').slideDown(500).delay(3000).slideUp(500, function(){
            vm.imgstatus = null;
            // location.reload();
          });
        }

      })
      .catch(function (error) {
        console.log(error);
      });
    },

    uploadFile: function(){
      this.$refs.file.click();
    },

    updateProfile() {
      alert('Your data: ' + JSON.stringify(this.user));
    },

    update_account(e) {
      var vm = this;
      e.preventDefault();
      //  alert('Your data: ' + JSON.stringify(this.user));
      console.log(this.user);
      let currentObj = this;
      var params = new FormData();
      params.append('action', 'flyrise_update_account');
      params.append('first_name', this.user.firstName);
      params.append('last_name', this.user.lastName);
      params.append('email', this.user.email);
      params.append('company', this.user.company);
      console.log(params);
      axios.post('/wp-admin/admin-ajax.php', params)
      .then(function (response) {
        
        // SUCCESS
        if (response) {
          vm.statusprof = "Profile Updated Successfully";
          jQuery('#statusprofwrap span#profchangesuccess').slideDown(500).delay(3000).slideUp(500, function(){
            vm.statusprof = null;
            currentObj.edituserinfo = 0;
            // location.reload();
          });
        }
      })
      .catch(function (error) {
        console.table(error)
        currentObj.output = error;
      });
    },
  }
};
</script>